<section class="widget" id="communicate-widget">
    <h3>
        <i class="material-icons">person</i>
        <span class="text-transform-none">{{ request.user.username }}</span>
    </h3>
    <div class="notes">
        <div class="note info-note">
            <p><mark>Write</mark> a new post to open a discussion,
            each discussion has its own chat room.</p>
            <nav>
                <i class="material-icons">bubble_chart</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>Open the chat room to <mark>engage</mark>,
            <span>each room</span> is accessed from its page.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#room-chat-form')">forum</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>Go back to your <mark>settings</mark> page <span>to manage your account</span>.</p>
            <nav>
                <a href="{% url 'user:retrieve_account' %}">
                    <i class="material-icons">settings</i>
                </a>
            </nav>
        </div>
    </div>
</section>