<section class="widget">
    <h3>
        <i class="material-icons">history</i>
        <span>history</span>
    </h3>
    <section class="flex-container">
        <div class="flex-box-col info-card">
            <p><b>View</b> all of the circle updates performed by founder and members.</p>
            <nav class="text-align-right">
                <i onclick="Fixed.open('#history-aside')" class="material-symbols-outlined">calendar_month</i>
            </nav>
        </div>
    </section>
</section>