<section class="widget" id="theme-widget">
    <h2>
        <i class="material-icons" id="theme-icon"></i>
        <span>theme</span>
    </h2>
    <div class="notes">
        <div class="note info-note">
            <p>Dark theme, light theme, or follow your system <b>display</b> settings.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Theme.light()" data-mode="light">light_mode</li>
                <li class="material-icons" onclick="Theme.dark()" data-mode="dark">dark_mode</li>
                <li class="material-icons" onclick="Theme.default()" data-mode="default">contrast</li>
            </ul>
        </div>
    </div>
</section>