{% extends 'layouts/lcr.html' %}

{% block fixed %}
{% include "circles/widgets/fixed/asides.html" %}
{% include "circles/widgets/fixed/forms.html" %}
{% endblock %}

{% block left %}
{% include "circles/widgets/left/apps.html" %}
{% endblock %}

{% block center %}
{% include "circles/widgets/center/header.html" %}
{% include "circles/widgets/center/control.html" %}
{% include "circles/widgets/center/members.html" %}
{% endblock %}

{% block right %}
{% include "circles/widgets/right/nav.html" %}
{% include "circles/widgets/right/logs.html" %}
{% endblock %}