{% extends 'spaces/room.html' %}
{% load static %}

{% block fixed %}
{% include "circles/asides/requests.html" %}
{% include "circles/forms/update.html" %}
{% endblock %}

{% block left %}
    {% with member=circle.founder %}
    {% include "circles/cards/object/member.html" %}
    {% endwith %}
    {% for member in circle.members.all %}
    {% include "circles/cards/object/member.html" %}
    {% endfor %}
{% endblock %}

{% block center %}
{% if request.user == circle.founder %}
<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">diversity_2</i>
        <span>manage</span>
    </h3>
    <section class="cards-w">
        {% include "circles/cards/form/update.html" %}
        {% include "circles/cards/aside/requests.html" %}
    </section>
</section>
{% endif %}
<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">fork_right</i>
        <span>navigate</span>
    </h3>
    <section class="cards-w">
        {% include "user/cards/navigate/settings.html" %}
        {% include "circles/cards/function/opened.html" %}
        {% include "signals/cards/navigate/app.html" %}
    </section>
</section>
<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">terminal</i>
        <span>actions</span>
    </h3>
    <section class="cards-w">
        {% include "circles/cards/function/invite.html" %}
        {% include "home/cards/function/theme.html" %}
    </section>
</section>
{% endblock %}