{% extends 'layouts/lcr.html' %}
{% load filters %}

{% block fixed %}
<form method="POST" action="{% url 'circles:create' %}" id="circle-update-form">
    {% with form=forms.circle %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'circles:invite' %}" id="invitation-create-form">
    {% with form=forms.invitation %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
{% endblock fixed %}

{% block left %}
{% for invitation in invitations %}
<ul class="card">
    <small style="font-size:smaller">{{ invitation.uuid }}</small>
</ul>
{% endfor %}
{% endblock %}

{% block right %}
{% include "components/logs.html" %}
{% endblock %}

{% block center %}
<section class="cards-w">
    <div class="card">
        <h3 class="title">
            <i class="material-symbols-outlined">diversity_2</i>
            <span>{{ circle.name }}</span>
        </h3>
        <h3 class="title">
            <i class="material-symbols-outlined">today</i>
            <span>{{ circle.created|date:"M d, Y h:i A" }}</span>
        </h3>
        <h3 class="title">
            <i class="material-symbols-outlined">person</i>
            <span>by <b>{{ circle.founder.username }}</b></span>
        </h3>
        {% if states.founder %}
        <ul class="end">
            <li>
                <i class="material-symbols-outlined" onclick="Aside.open('#invitation-create-form')">add</i>
            </li>
            <li>
                <i class="material-symbols-outlined" onclick="Aside.open('#circle-update-form')">edit</i>
            </li>
            <li>
                <a class="material-symbols-outlined" href="{% url 'circles:terminate' %}">logout</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="card">
        <h3 class="title">
            <i class="material-symbols-outlined">person</i>
            <span>{{ request.user.username }} (<b>you</b>)</span>
        </h3>
        <h3 class="title">
            <i class="material-symbols-outlined">today</i>
            <span>joined {{ request.user.created|ago }}</span>
        </h3>
        <h3 class="title">
            <i class="material-symbols-outlined">diversity_2</i>
            <span>{{ circle.created|ago }}</span>
        </h3>
        <nav class="end">
            <a class="material-symbols-outlined" href="{% url 'user:signout' %}">logout</a>
        </nav>
    </div>
</section>
{% endblock center %}