{% if request.user.is_authenticated %}
<ul class="card">
    <ul>
        <li>{{ request.user.username }}</li>
        <li class="description">View and manage your account, profile and activity logs.</li>
    </ul>
    <li class="row end">
        <a href="{% url 'user:settings' %}">
            <img src="{{ request.user.profile.picture.url }}" class="circle-24" alt="{{ request.user.username }}'s profile picture" id="picture">
        </a>
        <a href="{% url 'user:signout' %}">
            <i class="material-icons">logout</i>
        </a>
    </li>
</ul>
{% else %}
<ul class="card">
    <ul>
        <li class="title">account</li>
        <li class="description">Sign-in or verify your token if you have an account or sign-up.</li>
    </ul>
    <li class="row end">
        <a class="material-icons" href="{% url 'user:navigate' %}">person</a>
    </li>
</ul>
{% endif %}