<section class="widget">
    <h3>
        <i class="material-icons">post_add</i>
        <b>signal</b>
    </h3>
    <section class="flex-container">
        {% if request.resolver_match.app_name == "team" %}
            {% include "blog/card/js/form/post.html" %}
        {% endif %}
        {% if request.resolver_match.app_name == "blog" %}
            {% if request.resolver_match.url_name == "retrieve_post" %}
                {% if request.user == post.user %}
                    {% include "blog/card/js/form/post.html" %}
                {% else %}
                    {% include "blog/card/js/form/comment.html" %}
                {% endif %}
            {% endif %}
            {% if request.resolver_match.url_name == "retrieve_comment" %}
                {% include "blog/card/js/form/comment.html" %}
            {% endif %}
        {% endif %}
    </section>
</section>