<section class="widget" id="signals-index-widget">
    <section class="flex-container">
        {% include "blog/card/js/form/question.html" %}
        {% include "blog/card/js/form/thought.html" %}
        {% include "blog/card/js/form/idea.html" %}
        {% include "blog/card/js/form/observation.html" %}
        {% include "blog/card/js/form/opportunity.html" %}
        {% include "blog/card/js/form/problem.html" %}
        {% include "blog/card/js/form/hypothesis.html" %}
        {% include "blog/card/js/form/theory.html" %}
        {% include "blog/card/js/form/answer.html" %}
        {% include "blog/card/js/form/insight.html" %}
        {% include "blog/card/js/form/concern.html" %}
        {% include "blog/card/js/form/test.html" %}
        {% include "blog/card/js/form/metric.html" %}
        {% include "blog/card/js/form/criteria.html" %}
        {% include "blog/card/js/form/decision.html" %}
        {% include "blog/card/js/form/result.html" %}
    </section>
</section>