<section class="widget" id="signals-index-widget">
    <h3 class="text-capitalize">
        <i class="material-icons">emoji_objects</i>
        <span>keep it short and simple</span>
    </h3>
    <section class="scroll-horizontally">
        
        {% include "blog/cards/form/question.html" %}
        {% include "blog/cards/form/thought.html" %}
        {% include "blog/cards/form/idea.html" %}
        {% include "blog/cards/form/observation.html" %}
        {% include "blog/cards/form/opportunity.html" %}
        {% include "blog/cards/form/problem.html" %}
        {% include "blog/cards/form/hypothesis.html" %}
        {% include "blog/cards/form/theory.html" %}
        {% include "blog/cards/form/answer.html" %}
        {% include "blog/cards/form/insight.html" %}
        {% include "blog/cards/form/concern.html" %}
        {% include "blog/cards/form/test.html" %}
        {% include "blog/cards/form/metric.html" %}
        {% include "blog/cards/form/criteria.html" %}
        {% include "blog/cards/form/decision.html" %}
        {% include "blog/cards/form/result.html" %}

    </section>
</section>