{% if request.user.is_guest %}
<div class="flex-box-col" role="function">
    <p><b>As a guest user</b>, your account will be deleted after signing out.</p>
    <nav class="text-align-right">
        <a class="material-icons danger-color" href="{% url 'user:signout' %}">logout</a>
    </nav>
</div>
{% else %}
<div class="flex-box-col" role="function">
    <p><span><b>Sign out</b></span> now to meditate, having a rest is good for your health.</p>
    <nav class="text-align-right">
        <a class="material-icons warning-color" href="{% url 'user:signout' %}">logout</a>
    </nav>
</div>
{% endif %}