{% if signal.get_children %}
<section class="widget">
    <h3 class="text-capitalize">
    {% if signal.classification == 0 or signal.classification == 1 %}
        <i class="material-symbols-outlined">cognition</i>
        <span>hypotheses</span>
    {% elif signal.classification == 2 %}
        <i class="material-symbols-outlined">biotech</i>
        <span>Observations & Tests</span>
    {% elif signal.classification == 3 %}
        <i class="material-symbols-outlined">insights</i>
        <span>Insights</span>
    {% elif signal.classification == 4 %}
        <i class="material-symbols-outlined">gavel</i>
        <span>Decisions</span>
    {% elif signal.classification == 6 %}
        <i class="material-symbols-outlined">monitoring</i>
        <span>Metrics</span>
    {% elif signal.classification == 7 %}
        <i class="material-symbols-outlined">balance</i>
        <span>Criterias</span>
    {% endif %}
        <span>({{ signal.get_children.count }})</span>
    </h3>
    <section class="cards">
        {% for signal in signal.get_children %}
        {% include "signals/cards/object/signal.html" %}
        {% endfor %}
    </section>
</section>
{% endif %}