<div class="cards-w">
    <div class="card">
        <h3 class="material-symbols-outlined">cognition</h3>
        <p>The idea could be based on multiple points. Each point could have
        multiple concerns, for each concern describe the proper tests.</p>
    </div>
    <div class="card">
        <h3 class="material-symbols-outlined">psychology</h3>
        <p>After tests, record the results. Approve the point when the concern
        is dismissed which happens when the test result is positive.</p>
    </div>
    <div class="card">
        <h3 class="material-symbols-outlined">science</h3>
        <p>Tests require an average of all results in consideration,
        or the final result only, or the last N (a number you set) of results.</p>
    </div>
    <div class="card">
        <h3 class="material-symbols-outlined">schema</h3>
        <p>Ideas, points, concerns, tests and results are different types of signals.
        Signals help you deeply understanding your thoughts!.</p>
    </div>
    {% include "signals/cards/index.html" %}
</div>