{% if signal.level > 0 %}
<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">history</i>
        <span>history</span>
    </h3>
    <section class="cards-v">
        <div class="verticl-line"></div>
        {% for signal in signal.get_ancestors %}
        {% include "signals/cards/object/signal.html" %}
        {% endfor %}
        {% include "signals/cards/object/signal.html" %}
    </section>
</section>
{% else %}
<setion class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">{{ signal.icon }}</i>
        <span>{{ signal.get_classification_display }}</span>
    </h3>
    {% include "signals/cards/object/signal.html" %}
</setion>
{% endif %}