<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">bubble_chart</i>
        <span>signal</span>
    </h3>
    <section class="cards-w">
        {% include "signals/cards/function/status.html" %}
        {% with room=signal  %}
        {% include "spaces/cards/describe/space.html" %}
        {% endwith %}
        {% if signal.level == 0 %}
        {% include "signals/cards/form/hypothesis.html" %}
        {% elif signal.level == 1 %}
        {% include "signals/cards/form/observation.html" %}
        {% include "signals/cards/form/test.html" %}
        {% endif %}
    </section>
</section>