<section class="widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">{{ signal.icon }}</i>
        <span>{{ signal.get_classification_display }}</span>
    </h3>
    {% include "signals/cards/object/signal.html" %}
    <section class="cards">
        {% include "signals/cards/function/status.html" %}
        {% include "spaces/cards/describe/space.html" %}
        {% if signal.classification == 0 or signal.classification == 1 %}
        {% include "signals/cards/form/hypothesis.html" %}
        {% endif %}
        {% if signal.classification == 2 %}
        {% include "signals/cards/form/observation.html" %}
        {% include "signals/cards/form/test.html" %}
        {% endif %}
        {% if signal.classification == 3 %}
        {% include "signals/cards/form/insight.html" %}
        {% endif %}
        {% if signal.classification == 4 %}
        {% include "signals/cards/form/decision.html" %}
        {% endif %}
        {% if signal.classification == 6 %}
        {% include "signals/cards/form/metric.html" %}
        {% endif %}
        {% if signal.classification == 7 %}
        {% include "signals/cards/form/criteria.html" %}
        {% endif %}
    </section>
</section>