<section class="widget" id="user-navigate-widget">
    <h2>
        <i class="material-icons">groups</i>
        <span class="text-transform-capitalize">friends</span>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col info-card">
            <p><b>Add</b> your friends, to connect with, <span>and add</span> them in your circles.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Fixed.open('#mate-form')">outgoing_mail</li>
            </ul>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Review</b> sent friend requests!, to view its state or to cancel it.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Fixed.open('#sent-requests-aside')">mark_email_unread</li>
            </ul>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Respond</b> to received friend requests, ordered by date of sending.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Fixed.open('#received-requests-aside')">mark_email_read</li>
            </ul>
        </div>
    </section>
</section>