<section class="widget">
    <h3>
        <i class="material-symbols-outlined">contact_page</i>
        <span>profile</span>
    </h3>
    <section class="flex-container">
        <div class="flex-box-col info-card">
            <p><b>Update</b> your profile info, about paragraph and stay recognizable.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Fixed.open('#info-form')">edit_square</li>
            </ul>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Upload</b> a new profile picture, choose what really represents you.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Fixed.open('#picture-form')">photo_camera</li>
            </ul>
        </div>
    </section>
</section>