{% extends 'home/layouts/app.html' %}

{% block center %}
<h1 class="title">
    <i class="material-symbols-outlined">terminal</i>
    <b>scheme</b>
</h1>
<p>A web project built with the aim of reflecting my journey of studying <b>Django</b>
the great web framework. Here I tried to implement the protocols and functionalities
which I learned in the form of applications that I believe
it would be useful and inetersting.</p>
<div class="card">
    <h3 class="title">
        <i class="material-symbols-outlined">person</i>
        <i class="material-symbols-outlined">diversity_2</i>
        <i class="material-symbols-outlined">bubble_chart</i>
        <i class="material-symbols-outlined">dashboard</i>
    </h3>
    <p><b>Applications</b> are listed below, each application
    is defined in its card, visit the application's page
    to read its features cards.</p>
</div>
<section class="cards-w">
    {% include "home/widgets/apps.html" %}
</section>
{% endblock %}