{% extends 'templates/lcr.html' %}

{% block fixed %}
{% include "user/forms/signup.html" %}
{% include "user/forms/signin.html" %}
{% include "user/forms/verify.html" %}
{% if 'token' in request.session %}
{% include "user/forms/reset.html" %}
{% endif %}
{% include "circles/forms/create.html" %}
{% endblock %}

{% block left %}
{% include "home/widgets/actions.html" %}
{% endblock %}

{% block center %}
{% include "home/widgets/about.html" %}
{% include "home/widgets/apps.html" %}
{% include "home/widgets/guide.html" %}
{% endblock %}

{% block right %}
{% include "home/widgets/user.html" %}
{% endblock %}