{% extends 'templates/lcr.html' %}

{% block fixed %}
{% include "circles/forms/create.html" %}
{% include "user/forms/signup.html" %}
{% include "user/forms/signin.html" %}
{% include "user/forms/verify.html" %}
{% endblock %}

{% block left %}
{% include "home/cards/function/theme.html" %}
{% include "circles/cards/form/create.html" %}
{% endblock %}

{% block center %}
{% include "home/cards/describe/project.html" %}
<section class="cards-w">
    {% include "home/cards/describe/what.html" %}
    {% include "home/cards/describe/why.html" %}
    {% include "home/cards/describe/how.html" %}
</section>
<section class="widget">
    {% include "home/cards/describe/app.html" %}
    <section class="cards-s" id="apps">
        {% include "user/cards/navigate/app.html" %}
        {% include "circles/cards/navigate/app.html" %}
        {% include "signals/cards/navigate/app.html" %}
        {% include "spaces/cards/navigate/app.html" %}
        {% include "tasks/cards/navigate/app.html" %}
    </section>
</section>
{% endblock %}

{% block right %}
{% include "user/cards/form/signup.html" %}
{% include "user/cards/form/signin.html" %}
{% include "user/cards/form/verify.html" %}
{% endblock %}