{% extends 'layouts/app.html' %}
{% load filters %}

{% block fixed %}
<form method="POST" action="{% url 'user:signup' %}" id="sign-up-form">
    {% with form=forms.signup password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'user:signin' %}" id="sign-in-form">
    {% with form=forms.signin password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" enctype="multipart/form-data" action="{% url 'user:verify' %}" id="token-form">
    {% with form=forms.token password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
{% endblock fixed %}

{% block center %}
<section class="cards-w">
    <div class="card">
        <h3 class="title">
            <i class="material-icons">person_add</i>
            <span>signup</span>
        </h3>
        <p>Set a <b>username</b> from 4 to 16 characters of letters/numbers only,
        and a <b>password</b> of at least 8 characters and <mark>start scheming now!</mark>.</p>
        <h3 class="row end">
            <i class="material-icons" onclick="Aside.open('#sign-up-form')">arrow_forward</i>
        </h3>
    </div>
    <div class="card">
        <h3 class="title">
            <i class="material-icons">login</i>
            <span>signin</span>
        </h3>
        <p>Go to the deepest of your mind, connect to your team, document your thinking journey;
        <mark>sign in now and keep the process running!</mark>.</p>
        <h3 class="row end">
            <i class="material-icons" onclick="Aside.open('#sign-in-form')">arrow_forward</i>
        </h3>
    </div>
    <div class="card f2">
        <h3 class="title">
            <i class="material-symbols-outlined">verified_user</i>
            <span>recover</span>
        </h3>
        <p>A token is a <b>one-time-use</b> quick response code used to recover your account.
        Download your token and <mark>keep it safe and up-to-date</mark>. Upload your token to
        recover and reset your password. You may use your token to <b>verify your account
        and use it later to recover</b>.</p>
        <h3 class="end">
            <i class="material-icons" onclick="Aside.open('#token-form')">arrow_forward</i>
        </h3>
    </div>
</section>
{% endblock center %}