{% extends 'templates/lcr.html' %}
{% load static %}

{% block fixed %}
{% include "circles/forms/create.html" %}
{% include "user/forms/signup.html" %}
{% include "user/forms/signin.html" %}
{% include "user/forms/verify.html" %}
{% if 'token' in request.session %}
{% include "user/forms/reset.html" %}
{% endif %}
{% endblock %}

{% block left %}
{% include "home/cards/navigate/app.html" %}
{% include "user/cards/navigate/app.html" %}
{% include "circles/cards/navigate/app.html" %}
{% include "signals/cards/navigate/app.html" %}
{% include "spaces/cards/navigate/app.html" %}
{% include "tasks/cards/navigate/app.html" %}
{% endblock %}

{% block center %}
{% include "home/widgets/guide.html" %}
{% block app %}
{% endblock %}
{% endblock %}

{% block right %}
{% include "home/cards/function/theme.html" %}
{% include "user/cards/form/signup.html" %}
{% include "user/cards/form/signin.html" %}
{% include "user/cards/form/verify.html" %}
{% include "circles/cards/form/create.html" %}
{% if 'token' in request.session %}
{% include "user/cards/form/reset.html" %}
{% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% get_static_prefix %}home/css/master.css">
{% endblock %}