.aside-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    gap: 8px;
}

#left .aside-nav,
aside.left .aside-nav {
    justify-content: flex-end;
}

#left,
#right,
aside.left,
aside.right {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    width: 100%;
}

#left,
aside.left {
    position: fixed;
    border-right: 1.32px solid var(--d3);
    transition-property: left;
    left: -400%;
    bottom: 0px;
    top: 0px;
}

#right,
aside.right {
    position: fixed;
    border-left: 1.32px solid var(--d3);
    transition-property: right;
    right: -400%;
    bottom: 0px;
    top: 0px;
}

#right .aside-nav,
aside.right .aside-nav {
    justify-content: flex-start;
}

#left.active,
aside.left.active {
    left: 0px;
}

#right.active,
aside.right.active {
    right: 0px;
}

@media (width > 360px) {
    #left,
    #right,
    aside.right,
    aside.left {
        width: 360px;
    }

    #left,
    aside.left {
        left: calc(-360px * 4);
    }
    
    #right,
    aside.right {
        right: calc(-360px * 4);
    }
}