.aside-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

#left .aside-nav,
aside.left  .aside-nav {
    justify-content: flex-start;
}

#left,
#right,
aside.left,
aside.right {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    width: 100%;
}

#right,
aside.right {
    position: fixed;
    transition-property: right;
    right: -400%;
    bottom: 0px;
    top: 0px;
}

#left,
aside.left {
    position: fixed;
    transition-property: left;
    left: -400%;
    bottom: 0px;
    top: 0px;
}

#right.active,
aside.right.active {
    right: 0px;
}

#left.active,
aside.left.active {
    left: 0px;
}

@media (width > 360px) {
    #left,
    #right,
    aside.right,
    aside.left {
        width: 360px;
    }
    #right,
    aside.right {
        right: calc(-360px * 4);
    }
    #left,
    aside.left {
        left: calc(-360px * 4);
    }
}