main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    margin: auto;
}

#center,
#lr-grid #left {
    grid-column: 1/13;
}

#c-grid,
#lr-grid {
    max-width: 720px;
}

@media (width >= 720px) {

    #lr-grid #center {
        grid-column: 1/7;
    }
    
    #lr-grid #right {
        display: flex;
        z-index: initial;
        position: static;
        grid-column: 7/13;
        width: 100%;
    }

}

#cr-grid,
#lc-grid {
    max-width: 1080px;
}

@media (width >= 1080px) {

    #cr-grid #right,
    #lc-grid #left,
    #lcr-grid #left {
        z-index: initial;
        position: static;
        display: flex;
        width: 100%;
    }

    #cr-grid #center {
        grid-column: 1/9;
    }

    #cr-grid #right {
        grid-column: 9/13;
    }

    #lc-grid #left,
    #lcr-grid #left {
        grid-column: 1/5;
    }

    #lc-grid #center,
    #lcr-grid #center {
        grid-column: 5/13;
    }

}

#lcr-grid {
    max-width: 1440px;
}

@media (width >= 1440px) {
    
    #lcr-grid #left {
        grid-column: 1/4;
    }

    #lcr-grid #center {
        grid-column: 4/10;
    }

    #lcr-grid #right {
        display: flex;
        z-index: initial;
        position: static;
        grid-column: 10/13;
        width: 100%;
    }

}