main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    margin: auto;
}

#main,
#lr-grid #main {
    grid-column: 1/13;
}

#c-grid,
#lr-grid {
    max-width: 720px;
}

@media (width >= 720px) {

    #lr-grid #main {
        grid-column: 1/7;
    }
    
    #lr-grid #right {
        display: flex;
        z-index: initial;
        position: sticky;
        grid-column: 7/13;
        width: 100%;
    }

}

#cr-grid,
#lc-grid {
    max-width: 1080px;
}

@media (width >= 1080px) {

    #cr-grid #right,
    #lc-grid #left,
    #lcr-grid #left {
        z-index: initial;
        position: sticky;
        display: flex;
        width: 100%;
    }

    #cr-grid #main {
        grid-column: 1/9;
    }

    #cr-grid #right {
        grid-column: 9/13;
    }

    #lc-grid #left,
    #lcr-grid #left {
        grid-column: 1/5;
    }

    #lc-grid #main,
    #lcr-grid #main {
        grid-column: 5/13;
    }

}

#lcr-grid {
    max-width: 1440px;
}

@media (width >= 1440px) {
    
    #lcr-grid #left {
        grid-column: 1/4;
    }

    #lcr-grid #main {
        grid-column: 4/10;
    }

    #lcr-grid #right {
        display: flex;
        z-index: initial;
        position: sticky;
        grid-column: 10/13;
        width: 100%;
    }

}

.column-button {
    width: 32px;
    height: 32px;
    font-size: 24px;
    line-height: 24px;
    outline: 1.32px solid var(--d3);
    box-shadow: var(--bs);
    background: var(--d2);
    border-radius: 100%;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

@media (width > 360px) {

    aside .column-button,
    #right .column-button {
        display: none;
    }
    
}

@media (width >= 720px) {

    #lr-grid #main .column-button {
        display: none;
    }

}

@media (width >= 1080px) {

    #lc-grid .column-button,
    #cr-grid .column-button {
        display: none;
    }

}