:root {
    --wh: 100vh;
    --ww: 100vw;
}

html,
body,
aside,
footer,
header,
.column {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    filter: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
aside::-webkit-scrollbar,
footer::-webkit-scrollbar,
header::-webkit-scrollbar,
.column::-webkit-scrollbar {
    display: none;
}

html,
body,
main {
    background: var(--d1);
    height: var(--wh);
    color: var(--d4);
}

aside,
footer, 
header {
    background: var(--d2);
    width: 100%;
}

/*
    .widget
*/

.column {
    display: flex;
    flex-direction: column;
    background: var(--d1);
    height: var(--wh);
    padding: 8px;
    gap: 8px;
}

/*
    aside
*/

#left,
#right,
aside {
    max-width: 360px;
}

#left,
aside.left {
    position: fixed;
    border-right: 1.32px solid var(--d3);
    transition: left 1s ease-in-out;
    left: -360px;
    bottom: 0px;
    top: 0px;
}

#right,
aside.right {
    position: fixed;
    border-left: 1.32px solid var(--d3);
    transition: right 1s ease-in-out;
    right: -360px;
    bottom: 0px;
    top: 0px;
}

#left.active,
aside.left.active {
    left: 0px;
}

#right.active,
aside.right.active {
    right: 0px;
}

.aside-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    gap: 8px;
}

#left .aside-nav,
aside.left .aside-nav {
    justify-content: flex-end;
}

#right .aside-nav,
aside.right .aside-nav {
    justify-content: flex-start;
}

/*
    header &
    footer
*/

header,
footer {
    max-height: 50vh;
    height: max-content;
}

header {
    border-bottom: 1.32px solid var(--d3);
    transition: top 1s ease-in-out;
    position: fixed;
    right: 0px;
    top: -50vh;
    left: 0px;
}

header.active {
    top: 0px;
}

footer {
    border-top: 1.32px solid var(--d3);
    transition: bottom 1s ease-in-out;
    position: fixed;
    bottom: -50vh;
    right: 0px;
    left: 0px;
}

footer.active {
    bottom: 0px;
}

/*
    []
*/

[data-state=False] {
    display: none !important;
}