:root {
    --wh: 100vh;
    --ww: 100vw;
}

html,
body,
main,
.column {
    height: var(--wh);
}

header,
footer {
    height: calc(var(--wh) / 2);
    width: var(--ww);
}

header,
footer, 
.column {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

html,
body,
main {
    overflow: hidden;
}

header::-webkit-scrollbar,
footer::-webkit-scrollbar,
.column::-webkit-scrollbar {
    display: none;
}

#main {
    position: relative;
}

/*
    .column
*/

.column {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 48px 8px;
    width: 100%;
    gap: 8px;
}

/*
    aside
*/

#left,
#right,
aside {
    max-width: 360px;
    width: 100%;
}

#left,
aside.left {
    position: fixed;
    border-right: 1.32px solid var(--d3);
    transition: left 1s ease-in-out;
    left: -360px;
    bottom: 0px;
    top: 0px;
}

#right,
aside.right {
    position: fixed;
    border-left: 1.32px solid var(--d3);
    transition: right 1s ease-in-out;
    right: -360px;
    bottom: 0px;
    top: 0px;
}

#left.active,
aside.left.active {
    left: 0px;
}

#right.active,
aside.right.active {
    right: 0px;
}

/*
    header &
    footer
*/

header,
footer {
    height: max-content;
    max-height: 50vh;
    padding: 8px;
}

header {
    border-bottom: 1.32px solid var(--d3);
    transition: top 1s ease-in-out;
    position: fixed;
    top: -50vh;
    right: 0px;
    left: 0px;
}

header.active {
    top: 0px;
}

footer {
    border-top: 1.32px solid var(--d3);
    transition: bottom 1s ease-in-out;
    position: fixed;
    bottom: -50vh;
    right: 0px;
    left: 0px;
}

footer.active {
    bottom: 0px;
}