:root {
    --wh: 100vh;
    --ww: 100vw;
}

html,
body {
    height: var(--wh);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    margin: auto;
}

main,
aside {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    flex-direction: column;
    height: var(--wh);
    padding: 8px;
    gap: 8px;
}

main::-webkit-scrollbar,
aside::-webkit-scrollbar {
    display: none;
}

#center,
.lr-grid #left {
    grid-column: 1/13;
}

/*
    []
*/

[data-state=False] {
    display: none !important;
}

@media (width >= 720px) {

    /*
        LR-Grid
        L = R (6 columns)
    */

    .lr-grid #left {
        grid-column: 1/7;
    }
    
    .lr-grid #right {
        display: flex;
        z-index: initial;
        position: static;
        grid-column: 7/13;
        width: 100%;
    }

    #left .aside-nav,
    #right .aside-nav {
        display: none;
    }

}

@media (width >= 1080px) {

    .cr-grid #right,
    .lc-grid #left,
    .lcr-grid #left {
        z-index: initial;
        position: static;
        display: flex;
        width: 100%;
    }

    .cr-grid #right .aside-nav,
    .lc-grid #left .aside-nav,
    .lcr-grid #center .aside-nav #left-open-icon,
    .lcr-grid #left .aside-nav {
        display: none;
    }

    /*
        CR-Grid
        R = 312 (4 columns)
        C = 2R  (8 columns)
    */

    .cr-grid #center {
        grid-column: 1/9;
    }

    .cr-grid #right {
        grid-column: 9/13;
    }

    /*
        LC-Grid &
        LCR-Grid
        L = 312 (4 columns)
        C = 2L  (8 columns)

        In this width LCR-Grid will be treated
        as LC-Grid and R will be completely ignored.
    */

    .lc-grid #left,
    .lcr-grid #left {
        grid-column: 1/5;
    }

    .lc-grid #center,
    .lcr-grid #center {
        grid-column: 5/13;
    }

}

@media (width >= 1440px) {
 
    /*
        CR-Grid
        C = 3R  (9 columns)
        R = 312 (3 columns) 
    */
 
    .cr-grid #center {
        grid-column: 1/10;
    }
    .cr-grid #right {
        grid-column: 10/13;
    }
 
    /*
        LC-Grid &
        LCR-Grid
        L = 312 (3 columns)
    */
 
    .lc-grid #left,
    .lcr-grid #left {
        grid-column: 1/4;
    }

    /*
        LC-Grid
        C = 3L (9 columns)
    */

    .lc-grid #center {
        grid-column: 4/13;
    }

    /*
        LCR-Grid
        C = 2L  (6 columns)
        R = 312 (3 columns)
    */

    .lcr-grid #center {
        grid-column: 4/10;
    }

    .lcr-grid #right {
        display: flex;
        z-index: initial;
        position: static;
        grid-column: 10/13;
        width: 100%;
    }

    .lcr-grid #center .aside-nav,
    .lcr-grid #right .aside-nav {
        display: none;
    }
}