
/*
    Variables
*/

:root {
    --ld: #ff4444;
    --lw: #ffbb33;
    --ls: #00C851;
    --li: #33b5e5;
    --dd: #CC0000;
    --dw: #FF8800;
    --ds: #007E33;
    --di: #0099CC;
    --a1: #77216F;
    --fb: #000000;
    --fw: #FFFFFF;
}

.dark {
    --d1: var(--fb);
    --d2: hsl(0, 0%, 04%);
    --d3: hsl(0, 0%, 12%);
    --d4: var(--fw);
}

body,
.light {
    --d1: var(--fw);
    --d2: hsl(0, 0%, 98%);
    --d3: hsl(0, 0%, 92%);
    --d4: var(--fb);
}

/*
    Rules Of main
    theme colors
*/

body {
    background: var(--d1);
    color: var(--d4);
}

/*
    aside
*/

aside {
    background: var(--d1);
    filter: none;
}

aside.aside-r {
    border-left: 1.32px solid var(--d3);
}

aside.aside-l {
    border-right: 1.32px solid var(--d3);
}

/*
    form
*/

form {
    border-right: 1.32px solid var(--d3);   
    background: var(--d1);
    fill: none !important;
}

input,
textarea {
    color: var(--d4);
    outline: 1px solid var(--d2);
    background: none;
    border: none;
}

input:focus,
textarea:focus {
  outline-color: var(--d3);
}

div.check div.container [type=checkbox] + h6 {
  outline: 1px solid var(--d2);
}

div.check div.container [type=checkbox]:checked + h6 {
  outline-color: var(--d4);
  background: var(--d4);
}

div.radio div.container input + h6 {
  outline: 1px solid var(--d2);
  background: var(--d1);
}

div.radio div.container input:checked + h6 {
  outline-color: var(--d4);
  background: var(--d4);
}

div.file label {
  outline: 1px solid var(--d2);
}

/*
    .card
*/

.card {
    outline: 1.32px solid var(--d3);
    background: var(--d2);
}

.card .card {
    background: var(--d3);
}

.cards-v .verticl-line {
    background: var(--d2);
}

/*
    .pin
*/

.pin {
    outline: 1.32px solid var(--d3);
    background: var(--d2);
    color: var(--d4);
}

/*
    Rules Of alert
    theme colors
*/

/*
    .card
*/

.card.info {
    outline: 1.32px solid var(--li);
}

.card.warning {
    outline: 1.32px solid var(--lw);
}

.card.danger {
    outline: 1.32px solid var(--ld);
}

.card.success {
    outline: 1.32px solid var(--ls);
}

/*
    .message
*/

.message.info {
    outline: 1.32px solid var(--di);
    background: var(--li);
}

.message.error {
    outline: 1.32px solid var(--dd);
    background: var(--ld);
}

.message.warning {
    outline: 1.32px solid var(--dw);
    background: var(--lw);
}

.message.success {
    outline: 1.32px solid var(--ds);
    background: var(--ls);
}

/*
    .log
*/

.log li i.add {
    color: var(--li);
}

.log li i.change {
    color: var(--lw);
}

.log li i.delete {
    color: var(--ld);
}

/*
    Rules Of accent
    theme colors
*/

mark {
    color: var(--a1);
    background: none;
}