:root {
    --ld: #ff4444;
    --lw: #ffbb33;
    --ls: #00C851;
    --li: #33b5e5;
    --dd: #CC0000;
    --dw: #FF8800;
    --ds: #007E33;
    --di: #0099CC;
    --a1: #77216F;
    --fb: #000000;
    --fw: #FFFFFF;
}

body,
.light {
    --d1: var(--fw);
    --d2: hsl(0, 0%, 98%);
    --d3: hsl(0, 0%, 92%);
    --d4: var(--fb);
}

.dark {
    --d1: var(--fb);
    --d2: hsl(0, 0%, 04%);
    --d3: hsl(0, 0%, 12%);
    --d4: var(--fw);
}

.info-dark-outline {
    outline: 1.32px solid var(--di);
}

.danger-dark-outline {
    outline: 1.32px solid var(--dd);
}

.warning-dark-outline {
    outline: 1.32px solid var(--dw);
}

.success-dark-outline {
    outline: 1.32px solid var(--ds);
}

.info-dark-outline {
    outline: 1.32px solid var(--di);
}

.danger-light-outline {
    outline: 1.32px solid var(--ld);
}

.warning-light-outline {
    outline: 1.32px solid var(--lw);
}

.success-light-outline {
    outline: 1.32px solid var(--ls);
}

.info-dark-color {
    color: var(--di);
}

.danger-dark-color {
    color: var(--dd);
}

.warning-dark-color {
    color: var(--dw);
}

.success-dark-color {
    color: var(--ds);
}

.info-light-color {
    color: var(--li);
}

.danger-light-color {
    color: var(--ld);
}

.warning-light-color {
    color: var(--lw);
}

.success-light-color {
    color: var(--ls);
}