.message {
    z-index: 32;
}

aside,
header,
footer {
    z-index: 16;
}

#left,
#right {
    z-index: 8;
}

.flex-box .flex-col,
.flex-box .flex-row {
    z-index: 2;
}

.flex-box .vertical-line {
    z-index: 1;
}