.message {
    z-index: 16;
}

aside,
header,
footer,
#left,
#right {
    z-index: 8;
}

#blurred-layer {
    z-index: 4;
}

.flex-box .flex-col,
.flex-box .flex-row {
    z-index: 2;
}

.flex-box .vertical-line {
    z-index: 1;
}