#home-header-widget {
    flex: 1 0 calc(var(--wh) / 4);
    align-content: center;
    gap: 16px;
}

#home-header-widget h1,
#home-header-widget p {
    flex: 0 1 content;
}

#home-header-widget p {
    line-height: 1.6;
}