<section class="widget" id="control">
    <h3 class="title">
        <i class="material-icons">settings</i>
        <span>control</span>
    </h3>
    <section class="cards-w">
        <div class="card">
            <h3 class="title">
                <i class="material-symbols-outlined">link</i>
                <span>invite</span>
            </h3>
            <p>Copy the link below and send it to your invitees,
            when they open it a request will be created which you
            could approve or reject.</p>
            <ul class="end">
                <li class="material-symbols-outlined" onclick="Handler.copy(this, 'link')" data-link="{{ circle.link }}">content_copy</li>
            </ul>
        </div>
        <div class="card">
            <h3 class="title">
                <i class="material-symbols-outlined">edit</i>
                <span>edit</span>
            </h3>
            <p>Update your circle's name and/or description. Updating these data
            does not change the circle settings, members or anything else.</p>
            <ul class="end">
                <li class="material-symbols-outlined" onclick="Aside.open('#circle-update-form')">radio_button_checked</li>
            </ul>
        </div>
        <div class="card">
            <h3 class="title">
                <i class="material-symbols-outlined">sync_alt</i>
                <span>requests</span>
            </h3>
            <p>Join requests are made by the opening circle's URL which you get
            using the invite card above, click the arrow to check requests.</p>
            <ul class="end">
                <li class="material-symbols-outlined" onclick="Aside.open('#requests')">radio_button_checked</li>
            </ul>
        </div>
    </section>
</section>