<div class="cards-w">
    <div class="card" role="describe">
        <h3 class="material-symbols-outlined">share</h3>
        <p>After sharing the circle's invitation,
        a membership request will be created each time
        it's opened then you <b>approve or reject</b> it.</p>
    </div>
    <div class="card" role="describe">
        <h3 class="material-symbols-outlined">compare_arrows</h3>
        <p>The circle invitation has the forms of a link, a QR code
        that is shareable with all, <b>invitees do not have
        to be signed-in users</b>.</p>
    </div>
    <div class="card" role="describe">
        <h3 class="material-symbols-outlined">settings</h3>
        <p>Manage circle settings and members. Review circle's logger.
        <b>Remember!</b> that guest circles are temporary
        and can not be retrieved.</p>
    </div>
</div>