{% load filters %}
{% load circle_filters %}
{% if opened_circle %}
<ul class="card warning" ondblclick="Handler.copy(this, 'link')" data-link="{{ opened_circle.link }}">
    <li><b>{{ opened_circle.name }}</b> by {{ opened_circle.founder.username }}</li>
    <nav class="end">
        <a href="{{ opened_circle.exit }}" class="material-symbols-outlined">close</a>
        <a href="{{ opened_circle.page }}" class="material-symbols-outlined">subdirectory_arrow_right</a>
    </nav>
</ul>
{% endif %}
{% for circle in request.user.scheme.circles.as_founder %}
{% if circle.id != opened_circle.id %}
<ul class="card" ondblclick="Handler.copy(this, 'link')" data-link="{{ circle.link }}">
    <li><b>{{ circle.name }}</b></li>
    <nav class="end">
        {% if not opened_circle %}
        <a href="{{ circle.open }}" class="material-symbols-outlined">radio_button_checked</a>
        {% else %}
        <a href="{{ circle.page }}" class="material-symbols-outlined">subdirectory_arrow_right</a>
        {% endif %}
    </nav>
</ul>
{% endif %}
{% endfor %}
{% for circle in request.user.scheme.circles.as_member %}
{% if circle.id != opened_circle.id  %}
<ul class="card" ondblclick="Handler.copy(this, 'link')" data-link="{{ circle.link }}">
    <li><b>{{ circle.name }}</b> by {{ circle.founder.username }}</li>
    <nav class="end">
        {% if not opened_circle %}
        <a href="{{ circle.open }}" class="material-symbols-outlined">radio_button_checked</a>
        {% else %}
        <a href="{{ circle.page }}" class="material-symbols-outlined">subdirectory_arrow_right</a>
        {% endif %}
    </nav>
</ul>
{% endif %}
{% endfor %}