<aside class="aside-r" id="requests">
    <div class="wrapper">
        <button class="pin material-symbols-outlined" type="button" onclick="Aside.clear()" id="aside-button">close</button>
        {% for ask in circle.circlerequests_set.all %}
        <div class="card" role="navigate">
            <h4 class="title">
                <img src="{{ ask.user.profile.picture.url }}" alt="" class="circle-24">
                <span>{{ ask.user.username }}</span>
            </h4>
            <h5>{{ user.circlerequests.timestamp }}</h5>
            <nav class="end">
                <a href="{% url 'circcleapprove' circle.uuid ask.user.id %}" class="material-symbols-outlined">check</a>
                <a href="{% url 'circclereject' circle.uuid ask.user.id %}" class="material-symbols-outlined">close</a>
            </nav>
        </div>
        {% endfor %}
    </div>
</aside>