{% extends 'templates/lr.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'ping/css/left.css' %}">
<link rel="stylesheet" href="{% static 'ping/css/room.css' %}">
<script src="{% static 'ping/js/master.js' %}" defer></script>
<script src="{% static 'ping/js/room.js' %}" defer></script>
<title>{{ profile.user.username }}</title>
{% endblock %}

{% block left %}
{% include "ping/room.html" %}
{% endblock %}

{% block right %}
{% comment %}
    Here will create a separate blog between the 2 users 
{% endcomment %}
{% endblock %}