#right {
    border-right: 1.32px solid var(--d3);
}

#room {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#room::-webkit-scrollbar {
    display: none;
}

#room ul {
    margin: 8px 0px;
}

#room-input_button-container {
    display: flex;
    transition: bottom 2s ease-in-out;
    background: var(--d3);
    max-width: 360px;
    padding: 8px;
    width: 100%;
}

#room-input_button-container input {
    flex: auto;
}

#room-input_button-container button {
    flex: content;
}

@media (width >= 720px) {
}

@media (width >= 1080px) {
}

@media (width >= 1440px) {
}