#right .column {
    padding: 0px;
}

#right .column-button {
    bottom: 58.4px;
}

#room {
    display: flex;
    flex-direction: column;
    height: calc(var(--wh) - 50.4px);
    padding: 8px 8px 48px 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 8px;
}

#room-input {
    display: flex;
    height: 50.4px;
    padding: 8px;
}

#room::-webkit-scrollbar {
    display: none;
}

#room ul {
    border-radius: 8px;
    padding: 8px;
}

#room.one-to-one ul li:first-child,
#room.group ul.outgoing li:first-child {
    display: none;
}

#room ul.outgoing {
    outline: 1.32px solid var(--d3);
}

#room ul.incoming {
    background: var(--d3);
    text-align: right;
}

#room-input input {
    border-radius: 8px 0px 0px 8px;
    background: var(--d3);
    outline: none;
}

#room-input button {
    background: var(--d3);
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
    line-height: 17.2px;
    padding: 8px;
}