<aside id="friends-aside">
    <div class="column">
        <button type="button" class="column-button" onclick="Fixed.clear()">
            <i class="material-icons">close</i>
        </button>
        <section class="widget">
            {% if request.user.profile.friends.count %}
            <table>
            {% for friend in request.user.profile.friends.all %}
                <tr>
                    <td>
                        <b class="text-transform-none">{{ friend.user.username }}</b>
                    </td>
                    <td>
                        <a href="{{ friend.index }}" class="material-icons">link</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="note">
                <p class="text-align-center">You have no sent connections.</p>
            </div>
            {% endif %}
        </section>
    </div>
</aside>