{% load filters %}
<aside id="invitations-aside">
    <div class="column">
        <button type="button" onclick="Fixed.clear()" class="column-button">
            <i class="material-icons">close</i>
        </button>
        <section class="widget">
            {% if request.user.profile.invitations.count %}
            <table>
            {% for invitation in request.user.profile.invitations.all %}
                <tr>
                    <td>
                        <b class="text-transform-none">{{ invitation.space.name }}</b>
                    </td>
                    <td>
                        <a href="{% url 'mate:accept_space_invitation' invitation.id %}" class="material-icons">check</a>
                    </td>
                    <td>
                        <a href="{% url 'mate:reject_space_invitation' invitation.id %}" class="material-icons">close</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="note">
                <p class="text-align-center">You have no invitations.</p>
            </div>
            {% endif %}
        </section>
    </div>
</aside>