{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'favicon/180.png' %}"/>
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'favicon/16.png' %}"/>
        <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon/48.png' %}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/180.png' %}"/>
        <!-- Mainfest -->
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>
        <!-- CSS Style Sheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"/>
        <link rel="stylesheet" href="{% static 'css/init.css' %}?v={% now "U" %}"/>
        {% block css %}
        {% endblock %}
        <!-- JS Scripts -->
        <script src="{% static 'js/master.js' %}?v={% now "U" %}" defer></script>
        {% block js %}
        {% endblock %}
        <!-- Title -->
        <title>.sch | {{ grid.title }}</title>
    </head>
    <body onload="Handler.init();" onresize="Handler.init();">
        {% block grid %}{% endblock %}
        {% block side %}{% endblock %}
        {% if messages|length > 0 %}
        {% for message in messages %}
        <header class="message {{ message.tags|message:"color" }}" id="{{ message.tags }}-message-{{ forloop.counter }}">
            <h3 class="text-capitalize">
                <i class="material-icons">{{ message.tags|message:"icon" }}</i>
                <span>{{ message.tags }}</span>
            </h3>
            <p>{{ message }}</p>
        </header>
        {% endfor %}
        {% endif %}
    </body>
</html>