{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock %}
</head>
<body class="c-grid" onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}" data-url="{{ request.resolver_match.url_name }}">
    {% include "components/messages.html" %}
    <main id="center">
        {% block main %}
        {% endblock %}
    </main>
    {% block fixed %}
    {% endblock %}
</body>
</html>