{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}">
    <main data-url="{{ request.resolver_match.url_name }}" id="c-grid">
        <section class="column" id="center">
            {% block center %}
            {% endblock %}
        </section>
    </main>
    {% include "components/messages.html" %}
    {% block fixed %}
    {% endblock %}
</body>
</html>