{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}">
    <main data-url="{{ request.resolver_match.url_name }}" id="c-grid">
        <section id="center">
            <div class="column">
                {% block center %}
                {% endblock %}
            </div>
        </section>
    </main>
    {% include "components/messages.html" %}
    {% block fixed %}
    {% endblock %}
</body>
</html>