{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock head %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}" data-url="{{ request.resolver_match.url_name }}">
    {% include "components/messages.html" %}
    {% block fixed %}
    {% endblock %}
    <main class="cr-grid">
        <aside id="center">
            <div class="wrapper">
                {% block center %}
                {% endblock %}
                <button class="pin material-symbols-outlined" type="button" onclick="Aside.open('#right')" id="right-pin">chevron_left</button>
            </div>
        </aside>
        <aside class="aside-r" id="right">
            <div class="wrapper">
                {% block right %}
                {% endblock %}
                <button class="pin material-symbols-outlined" type="button" onclick="Aside.clear()" id="aside-button">chevron_right</button>
            </div>
        </aside>
    </main>
</body>
</html>