{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock head %}
</head>
<body class="lc-grid" onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}" data-url="{{ request.resolver_match.url_name }}">
    {% include "components/messages.html" %}
    <aside id="left">
        <nav class="aside-nav">
            <i class="pin material-symbols-outlined" id="left-close-icon" onclick="Aside.clear()">widgets</i>
        </nav>
        {% block left %}
        {% endblock %}
    </aside>
    <main id="center">
        <nav class="aside-nav">
            <i class="pin material-symbols-outlined" id="left-close-icon" onclick="Aside.open('#left')">chevron_right</i>
        </nav>
        {% block center %}
        {% endblock %}
    </main>
    {% block fixed %}
    {% endblock %}
</body>
</html>