{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock head %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}" data-url="{{ request.resolver_match.url_name }}">
    {% include "components/messages.html" %}
    {% block fixed %}
    {% endblock %}
    <main class="lc-grid">
        <aside class="aside-l" id="left">
            <div class="wrapper">
                <button class="pin material-symbols-outlined" type="button" onclick="Aside.clear()" id="aside-lc-button">chevron_left</button>
                {% block left %}
                {% endblock %}
            </div>
        </aside>
        <aside id="center">
            <div class="wrapper">
                <button class="pin material-symbols-outlined" type="button" onclick="Aside.open('#left')" id="left-pin">chevron_right</button>
                {% block center %}
                {% endblock %}
            </div>
        </aside>
    </main>
</body>
</html>