{% extends 'templates/_.html' %}
{% block grid %}
<main data-url="{{ request.resolver_match.url_name }}" id="lc-grid">
    <section id="left">
        <div class="column">
            <button type="button" onclick="Fixed.clear()" class="column-button">
                <i class="material-icons">close</i>
            </button>
            {% block left %}
            {% endblock %}
        </div>
    </section>
    <section id="main">
        <div class="column">
            <button type="button" onclick="Fixed.open('#left')" class="column-button">
                <i class="material-icons">{{ template.icon }}</i>
            </button>
            {% block main %}
            {% endblock %}
        </div>
    </section>
</main>
{% endblock %}