{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}">
    <main data-url="{{ request.resolver_match.url_name }}" id="lcr-grid">
        <section id="left">
            <div class="column">
                <button type="button" onclick="Fixed.clear()" class="material-icons column-button">close</button>
                {% block left %}
                {% endblock %}
            </div>
        </section>
        <section id="main">
            <div class="column">
                <button
                    type="button"
                    onclick="Fixed.open('#left')"
                    class="material-icons column-button"
                    id="lcr-left-button"
                >{{ column.left }}</button>
                <button
                    type="button"
                    onclick="Fixed.open('#right')"
                    class="material-icons column-button"
                    id="lcr-right-button"
                >{{ column.right }}</button>
                {% block main %}
                {% endblock %}
            </div>
        </section>
        <section id="right">
            <div class="column">
                <button type="button" onclick="Fixed.clear()" class="material-icons column-button">close</button>
                {% block right %}
                {% endblock %}
            </div>
        </section>
    </main>
    {% include "components/messages.html" %}
    {% block fixed %}
    {% endblock %}
</body>
</html>