{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}">
    <main data-url="{{ request.resolver_match.url_name }}" id="lcr-grid">
        <section class="column" id="left">
            <nav class="aside-nav left-column-control">
                <i class="material-symbols-outlined" onclick="Aside.clear()">chevron_left</i>
            </nav>
            {% block left %}
            {% endblock %}
        </section>
        <section class="column" id="center">
            {% include "components/messages.html" %}
            {% block center %}
            {% endblock %}
        </section>
        <section class="column" id="right">
            <nav class="aside-nav right-column-control">
                <i class="material-symbols-outlined" onclick="Aside.clear()">chevron_right</i>
            </nav>
            {% block right %}
            {% endblock %}
        </section>
    </main>
    {% block fixed %}
    {% endblock %}
</body>
</html>