{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}">
    <main data-url="{{ request.resolver_match.url_name }}" id="lr-grid">
        <section class="column" id="left">
            {% block left %}
            {% endblock %}
        </section>
        <section class="column" id="right">
            <nav class="flex-row-end">
                <button type="button" onclick="Fixed.clear()" class="danger-button"></button>
            </nav>
            {% block right %}
            {% endblock %}
        </section>
    </main>
    {% include "components/messages.html" %}
    {% block fixed %}
    {% endblock %}
</body>
</html>