{% load user_filters %}

<div class="card">
    <h3 class="title">
        <i class="material-symbols-outlined">{{ signal.get_status_icon }}</i>
        <span>{{ signal.get_status_display }}</span>
    </h3>
    <p>Signal <b>status</b> is updated by the its creator, or the contributor.</p>
    {% if request.user == signal.user %}
    <nav class="end">
        <a class="material-symbols-outlined" href="{{ signal.update_status }}">autorenew</a>
    </nav>
    {% else %}
    <nav class="end">
        <img class="circle-24" src="{{ signal.owner|profile_picture_url }}">
        <img class="circle-24" src="{{ signal.user|profile_picture_url }}">
    </nav>
    {% endif %}
</div>