<section class="widget" id="signals-index-widget">
    <h3 class="text-capitalize">
        <i class="material-icons">emoji_objects</i>
        <span>keep it short and simple</span>
    </h3>
    <section class="cards">
        {% include "signals/cards/form/signal.html" %}
        {% include "signals/cards/form/problem.html" %}
        {% include "signals/cards/form/opportunity.html" %}
        {% include "signals/cards/form/question.html" %}
        {% include "signals/cards/form/hypothesis.html" %}
        {% include "signals/cards/form/observation.html" %}
        {% include "signals/cards/form/test.html" %}
        {% include "signals/cards/form/comment.html" %}
        {% include "signals/cards/form/insight.html" %}
        {% include "signals/cards/form/metric.html" %}
        {% include "signals/cards/form/criteria.html" %}
        {% include "signals/cards/form/decision.html" %}
    </section>
</section>