.post {
    display: flex;
    flex-direction: column;
    outline: 1.32px solid var(--d3);
    background: var(--d1);
    border-radius: 8px;
    padding: 16px;
    z-index: 2;
    gap: 16px;
}

.post-header,
.post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;    
}

.post-header {
    justify-content: flex-end;
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.post-body ul,
.post-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-body-mark {
    display: flex;
    width: fit-content;
    text-transform: capitalize;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    border-radius: 4px;
    margin-left: 4px;
    padding: 4px;
    gap: 2px;
}

a.post-body-mark {
    background: var(--primary);
}

li.post-body-mark {
    background: var(--secondary);
}

.post-body-mark i,
.post-body-mark span {
    font-weight: bolder;
    font-size: .85rem;
}

.post-nav .material-icons,
.post-nav span {
    font-size: .85rem;
}

.post-nav {
    justify-content: flex-end;
    flex: 1;
}

.post-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

#parent-beam .vertical-line,
#child-beam .vertical-line {
    background: var(--primary) !important;
}

#parent-beam,
#child-beam,
#siblings-list {
    gap: 12px;
}

#parent-beam .post:first-child,
#child-beam .post:last-child {
    outline-color: var(--primary) !important;
}