<form method="POST" action="{% url 'user:update_profile' %}" id="info-form">
    {% with form=forms.user.info %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'user:update_password' %}" id="password-form">
    {% with form=forms.user.password password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'user:pdf' %}" id="pdf-form">
    {% with form=template.forms.pdf password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>