<div class="card" data-app="circles">
    <h3 class="title">
        <i class="material-symbols-outlined">diversity_2</i>
        <span>circles</span>
    </h3>
    <p>Create <b>interest-oriented-groups</b> and invite members.
    In circles you could create <b><a href="{% url 'home:spaces' %}">spaces</a></b>
    and polls, share <b><a href="{% url 'home:signals' %}">signals</a></b>, schedule
    <b><a href="{% url 'home:tasks' %}">tasks</a></b>.</p>
    <nav class="end">
        <a class="material-symbols-outlined" href="{% url 'home:circles' %}">arrow_forward</a>
    </nav>
</div>