<div class="card" id="how-it-works">
    <h3 class="title">
        <i class="material-symbols-outlined">tips_and_updates</i>
        <span>how it works</span>
    </h3>
    <p>Simply you have to provide a circle name and an optional description,
    then you will be redirected to the circle management page where you generate
    invitation links, QR codes and manage settings and members. You do not
    have to signup, start now as a guest!.</p>
    <ul class="end">
        <li class="material-symbols-outlined" onclick="Aside.open('#circle-create-form')">diversity_2</li>
    </ul>
</div>