{% load filters %}
<aside id="friend-received-requests-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="widget">
            {% if request.user.profile.requests.friend.received.count %}
            <table>
            {% for freq in request.user.profile.requests.friend.received.all %}
                <tr>
                    <td>
                        <b class="text-transform-none">{{ freq.sender.username }}</b>
                    </td>
                    <td>
                        <a href="{% url 'mate:accept_friend_request' freq.id %}" class="material-icons">done</a>
                    </td>
                    <td>
                        <a href="{% url 'mate:reject_friend_request' freq.id %}" class="material-icons">close</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="note">
                <p class="text-align-center">You have no received requests.</p>
            </div>
            {% endif %}
        </section>
    </div>
</aside>