main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    margin: auto;
}

#center,
#lr-grid #center {
    grid-column: 1/13;
}

#lcr-left-button.column-button {
    position: absolute;
    bottom: 8px;
    right: 48px;
}

#lcr-right-button.column-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

@media (width > 360px) {

    aside .column-button,
    #right .column-button,
    #left .column-button {
        display: none;
    }
    
}

@media (width >= 720px) {

    #c-grid,
    #lr-grid {
        max-width: 720px;
    }

    #lr-grid #center {
        grid-column: 1/7;
    }
    
    #lr-grid #right {
        display: flex;
        z-index: initial;
        position: sticky;
        grid-column: 7/13;
        width: 100%;
    }

    #lr-grid #center .column-button {
        display: none;
    }

}

@media (width >= 1080px) {
    
    #cr-grid,
    #lc-grid,
    #lcr-grid {
        max-width: 1080px;
    }

    #cr-grid #right,
    #lc-grid #left,
    #lcr-grid #left {
        z-index: initial;
        position: sticky;
        display: flex;
        width: 100%;
    }

    #cr-grid #center {
        grid-column: 1/9;
    }

    #cr-grid #right {
        grid-column: 9/13;
    }

    #lc-grid #left,
    #lcr-grid #left {
        grid-column: 1/5;
    }

    #lc-grid #center,
    #lcr-grid #center {
        grid-column: 5/13;
    }

    #lc-grid .column-button,
    #cr-grid .column-button,
    #lcr-left-button {
        display: none;
    }

}

@media (width >= 1440px) {
    
    #lcr-grid {
        max-width: 1440px;
    }
    
    #lcr-grid #left {
        grid-column: 1/4;
    }

    #lcr-grid #center {
        grid-column: 4/10;
    }

    #lcr-grid #right {
        display: flex;
        z-index: initial;
        position: sticky;
        grid-column: 10/13;
        width: 100%;
    }

    #lcr-right-button {
        display: none;
    }

}