:root {
    --wh: 100vh;
    --ww: 100vw;
}

html,
body,
main,
.column {
    background: var(--d1);
    height: var(--wh);
}

html,
body,
main {
    overflow: hidden;
}

form,
header,
footer,
textarea,
.column,
#room-chat-form #messages {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

form::-webkit-scrollbar,
header::-webkit-scrollbar,
footer::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.column::-webkit-scrollbar,
#room-chat-form #messages::-webkit-scrollbar {
    display: none;
}