<div class="card" id="how-it-works">
    <h3 class="title">
        <i class="material-symbols-outlined">tips_and_updates</i>
        <span>how it works</span>
    </h3>
    <p><b>SCHEME</b> authentication only requires a username and a password to ceate an account.
    After sucessfully signing-up, completing your profile as your name, a phone number,
    an email address, uploading a profile picture and writing
    an about paragraph is optional.</p>
    <ul class="end">
        <i class="material-icons" onclick="Aside.open('#sign-up-form')">person_add</i>
        <li class="material-icons" onclick="Aside.open('#sign-in-form')">login</li>
    </ul>
</div>