{% load filters %}
{% for circle in request.user.profile.circles %}
<div class="card">
    <h4 class="title">
        <i class="material-symbols-outlined">diversity_2</i>
        <span>{{ circle.name }}</span>
    </h4>
    {% if circle.founder == request.user %}
    <h4>Created by <b>you</b> {{ circle.created|ago }}</h4>
    <ul class="end">
        <li>
            <i class="material-symbols-outlined" onclick="Handler.copy(this, 'link')" data-link="{{ circle.link }}">share</i>
        </li>
        <li>
            <a href="{{ circle.open }}" class="material-symbols-outlined">arrow_forward</a>
        </li>
    </ul>
    {% else %}
    <h4>Created by <b>{{ circle.founder.username }}</b> {{ circle.created|ago }}</h4>
    <ul class="end">
        <li>
            <a href="{{ circle.open }}" class="material-symbols-outlined">arrow_forward</a>
        </li>
    </ul>
    {% endif %}
</div>
{% endfor %}