<div class="card fb">
    <h3 class="title">
        <i class="material-symbols-outlined">verified_user</i>
        <span>recover</span>
    </h3>
    <p>A token is a <b>one-time-use</b> quick response code used to recover your account.
    Download your token and <mark>keep it safe and up-to-date</mark>. Upload your token to
    recover and reset your password. You may use your token to <b>verify your account
    and use it later to recover</b>.</p>
    <h3 class="end">
        <i class="material-icons" onclick="Aside.open('#token-form')">arrow_forward</i>
    </h3>
</div>