<div class="cards-w" id="features">
    {% include "signals/cards/index.html" %}
    <div class="card">
        <h3 class="material-symbols-outlined">category</h3>
        <p>Task has different signals types that helps with process organizing as <b>task</b>,
        <b>note</b>, <b>update</b> and <b>issue</b> each has its own properties.</p>
    </div>
    {% include "spaces/cards/index.html" %}
    <div class="card">
        <h3 class="material-symbols-outlined">forum</h3>
        <p>A <b>separate space for each signal</b> and messages could be voted
        irrelevant to be removed, also spaces could have different members.</p>
    </div>
    <div class="card">
        <h3 class="material-symbols-outlined">commit</h3>
        <p>Do not miss what is happening, view the task logger that
        <b>records all actions</b>!. Task logger could not be
        updated neither deleted.</p>
    </div>
</div>