<form method="POST" action="{% url 'home:sign_up' %}" id="sign_up-form">
    {% with form=forms.user.signup password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'home:sign_in' %}" id="sign_in-form">
    {% with form=forms.user.signin password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'home:reset' %}" id="reset-form">
    {% with form=forms.note.reset password=1 %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>
<form method="POST" action="{% url 'home:account' %}" id="sign_in-key-form">
    {% with form=forms.note.signin %}
    {% include "components/form/base.html" %}
    {% endwith %}
</form>