{% load user_filters %}

<aside id="received-requests-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="widget">
            {% if request.user.scheme.friend_requests.received.count %}
            {% for req in request.user.scheme.friend_requests.received %}
            <section class="flex-container">
                <ul class="flex-box-row">
                    <div class="flex-row-start">
                        <img src="{{ req.sender|profile_picture_url }}" alt="" class="circle-24">
                        <h4>{{ req.sender.username }}</h4>
                    </div>
                    <nav class="flex-row-end">
                        <a href="{{ req.accept }}" class="material-icons">check</a>
                        <a href="{{ req.reject }}" class="material-icons">close</a>
                    </nav>
                </ul>
            </section>
            {% endfor %}
            {% else %}
            {% include "mate/card/js/form/request.html" %}
            {% endif %}
        </section>
    </div>
</aside>