{% load static %}
<!-- Meta -->
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Favicon -->
<link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon/48.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/180.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'favicon/180.png' %}">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'favicon/16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/init.css' %}?v={% now "U" %}"/>
<link rel="stylesheet" href="{% get_static_prefix %}ping/css/master.css">
<link rel="stylesheet" href="{% get_static_prefix %}blog/css/master.css">
<!-- JS -->
<script src="{% static 'js/master.js' %}?v={% now "U" %}" defer></script>
<script src="{% get_static_prefix %}ping/js/master.js" defer></script>
<!-- Title -->
<title>Scheme / {{ request.resolver_match.app_name|capfirst }}</title>