{% load filters %}
<aside id="friend-received-requests-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="widget">
            {% if request.user.profile.requests.friend.received.count %}
            {% for freq in request.user.profile.requests.friend.received.all %}
            <div class="note info-note">
                <p>From <mark><b class="text-transform-none">{{ freq.sender.username }}</b></mark> {{ freq.created|ago }}</p>
                <p>{{ freq.message}}</p>
                <nav>
                    <a href="{% url 'mate:accept_friend_request' freq.id %}">
                        <i class="material-icons">done</i>
                    </a>
                    <a href="{% url 'mate:reject_friend_request' freq.id %}">
                        <i class="material-icons">close</i>
                    </a>
                </nav>
            </div>
            {% endfor %}
            {% else %}
            <div class="note info-note">
                <p class="text-align-center">You have no received requests.</p>
            </div>
            {% endif %}
        </section>
    </div>
</aside>