{% extends 'templates/lcr.html' %}

{% block fixed %}
{% include "user/forms/signup.html" %}
{% include "user/forms/signin.html" %}
{% include "user/forms/verify.html" %}
{% include "circles/forms/create.html" %}
{% endblock %}

{% block left %}
{% include "home/cards/_.html" %}
{% block apps %}
{% endblock %}
{% include "components/cards/theme.html" %}
{% endblock %}

{% block center %}
{% block main %}{% endblock %}
{% include "user/widgets/guest.html" %}
{% endblock %}

{% block right %}
{% include "user/cards/signup.html" %}
{% include "user/cards/signin.html" %}
{% include "user/cards/verify.html" %}
{% include "circles/cards/create.html" %}
{% endblock %}