#space {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    height: calc(100vh - 56px);
    padding: 8px 8px 64px 8px;
}

#space ul {
    margin: 8px 0px;
}

#space::-webkit-scrollbar {
    display: none;
}

#space-chat-box {
    width: 100%;
    height: 56px;
    padding: 8px;
    display: flex;
    align-items: center;
    background: var(--d3);
    transition-timing-function: ease-in-out;
    transition-property: right;
    transition-duration: 1s;
    position: fixed;
    right: calc(-360px * 4);
    bottom: 0px;
    gap: 8px;
}

#space-chat-box input {
    flex: auto;
}

#space-chat-box input {
    flex: content;
}

.active #space-chat-box {
    right: 0px;
}

@media (width > 360px) {
    #space-chat-box {
        width: 360px;
    }
}

@media (width >= 720px) {
    #space-chat-box {
        width: calc((100vw / 12) * 3);
    }
}

@media (width >= 1440px) {
    #space-chat-box {
        right: 0px;
    }   
}