{% load static %}

<link rel="stylesheet" href="{% static 'blog/css/master.css' %}">
<link rel="stylesheet" href="{% static 'ping/css/right.css' %}">
<link rel="stylesheet" href="{% static 'ping/css/room.css' %}">
<script src="{% static 'blog/js/master.js' %}" defer></script>
<script src="{% static 'ping/js/master.js' %}" defer></script>
<script src="{% static 'ping/js/room.js' %}" defer></script>
<title>{{ signal.circle.name }} / {{ signal.classification }} by {{ signal.user.username }}</title>