{% extends 'templates/lcr.html' %}

{% block main %}

{% with post=post %}
{% include "blog/widgets/post.html" %}
{% endwith %}

{% with posts=post.beam.others.all %}
{% include "blog/widgets/siblings.html" %}
{% endwith %}

{% endblock %}

{% block left %}
{% include "team/widgets/navigate.html" %}
{% include "blog/widgets/create.html" %}
{% endblock %}

{% block right %}
{% include "ping/room.html" %}
{% endblock %}

{% block fixed %}
{% include "blog/form/post.html" %}
{% endblock %}

{% block head %}
{% include "blog/head.html" %}
{% endblock %}