{% load filters %}
{% load user_filters %}

<div class="signal">
    <h4 class="text-align-right">
        <span>
            <small>
                <b class="text-transform-none">{{ signal.created|ago }}</b>
            </small>
        </span>
        <img
            class="circle-24"
            src="{{ signal.user|profile_picture_url }}"
            alt="{{ signal.user.username }}'s profile picture"
        />
    </h4>
    <div>
        <p>{{ signal.body|linebreaks }}</p>
        <mark>
            <i class="{{ signal.glyph }}">{{ signal.icon }}</i>
            <span>{{ signal.classification }}</span>
        </mark>
    </div>
    {% if request.resolver_match.app_name == "team" %}
    <div>
        <a href="{{ signal.url }}">
            <i class="material-symbols-outlined">subdirectory_arrow_left</i>
        </a>
    </div>
    {% endif %}
</div>