{% load user_filters %}

<aside class="right" id="friends-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="flex-container">
            {% if request.user.scheme.friends.count %}
                {% for friend in request.user.scheme.friends.all %}
                <ul class="flex-box-row">
                    <div class="flex-row-start">
                        <img src="{{ friend|profile_picture_url }}" alt="" class="circle-24">
                        <h4>{{ friend.username }}</h4>
                    </div>
                    <nav class="flex-row-end">
                        <a href="#" class="material-icons">person</a>
                    </nav>
                </ul>
                {% endfor %}
                {% else %}
                {% include "mate/cards/fixed/received.html" %}
                {% include "mate/cards/form/request.html" %}
                {% endif %}
            </section>
    </div>
</aside>