{% load user_filters %}
<section class="widget">
    <h3>
        <img src="{{ request.user|profile_picture_url }}" class="circle-24" alt="{{ request.user.username }}'s profile picture">
        <span class="text-transform-none">{{ request.user.username }}</span>
    </h3>
    <section class="flex-container">
        <div class="flex-box-col info-card">
            <p><b>List</b> of friends you are connected to, think and chat privately!.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Fixed.open('#friends-aside')">groups</li>
            </ul>
        </div>
        <div class="flex-box-col info-card">
            <p><b>List</b> of circles you are connected to as a founder & as a member.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#circles-aside')">diversity_2</i>
            </nav>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Share</b> the username, so other users can send you friend requests.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Template.copyToClipboard(this)" data-clipboard="{{ request.user.username }}">content_copy</i>
            </nav>
        </div>
        <div class="flex-box-col warning-card">
            <p><span><b>Sign out</b></span> now to meditate, having a rest is good for your health.</p>
            <nav class="text-align-right">
                <a href="{% url 'user:signout' %}">
                    <i class="material-icons">logout</i>
                </a>
            </nav>
        </div>
    </section>
</section>