{% if request.user.is_guest %}
<section class="widget">
    <div class="notes flex-rows">
        <div class="note warning-note">
            <h3>
                <i class="material-symbols-outlined">domino_mask</i>
                <span>guest session</span>
            </h3>
            <p>As a guest user your session will be terminated after complete 8 hours
            of creation, <span>then everything</span> you created will be deleted.</p>
            <ul class="text-align-right">
                <li>
                    <b id="timer" data-count-down="{{ request.user.timer }}"></b>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endif %}
<section class="widget">
    <h3>
        <i class="material-icons">person</i>
        <span class="text-transform-none">{{ request.user.username }}</span>
    </h3>
    <section class="notes">
        <div class="note info-note">
            <p><mark><b>Share</b></mark> your username,
            so other users can send you friend requests.</p>
            <nav>
                <i class="material-icons" onclick="Template.copyToClipboard(this)" data-clipboard="{{ request.user.username }}">content_copy</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><mark><b>Sign-out</b></mark> now to meditate,
            having a rest is good for your health.</p>
            <nav>
                <a href="{% url 'user:signout' %}">
                    <i class="material-icons">logout</i>
                </a>
            </nav>
        </div>
    </section>
</section>