<section class="widget" id="asides-widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">widgets</i>
        <span>widgets</span>
    </h3>
    <section class="cards">
        <div class="card" id="left-aside-card">
            <p>View activity log, all actions you took are saved in the logger.</p>
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#left')">history</i>
            </nav>
        </div>
        <div class="card" id="right-aside-card">
            <p>List all of the circles you are in, as a founder, and as member.</p>
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#right')">diversity_2</i>
            </nav>
        </div>
    </section>
</section>