<section class="widget" id="user-navigate-widget">
    <h2>
        <i class="material-icons">diversity_2</i>
        <span class="text-transform-capitalize">circles</span>
    </h2>
    <section class="flex-container">
        {% include "team/cards/form/create.html" %}
        {% include "team/cards/fixed/list.html" %}
        {% include "team/cards/form/request.html" %}
        {% include "team/cards/fixed/requests.html" %}
        {% include "team/cards/fixed/invitations.html" %}
    </section>
</section>