<section class="widget" id="user-navigate-widget">
    <h2>
        <i class="material-icons">group</i>
        <span class="text-transform-capitalize">friends</span>
    </h2>
    <section class="notes">
        <div class="note info-note">
            <p>View a list of all the <mark>friends</mark> <span>you are connected to.</span></p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#friends-aside')">menu</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>View a list of all the received <mark><span>friend requests.</span></mark></p>
            <nav>
                <i class="material-icons"
                onclick="Fixed.open('#friend-received-requests-aside')">mark_email_unread</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>View a list of all the sent (pending) <mark><span>friend requests.</span></mark></p>
            <nav>
                <i class="material-icons"
                onclick="Fixed.open('#friend-sent-requests-aside')">outgoing_mail</i>
            </nav>
        </div>
    </section>
</section>