<section class="widget" id="user-navigate-widget">
    <h2>
        <i class="material-icons">groups</i>
        <span class="text-transform-capitalize">friends</span>
    </h2>
    <section class="notes">
        <div class="note info-note">
            <p><mark><b>View</b></mark> a list of your friends, there is
            <b>a space for you and each friend you have
            to post and chat privately</b>.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#friends-aside')">menu</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>List the received friend requests and <mark><b>respond</b></mark> to it.</p>
            <nav>
                <i class="material-icons"
                onclick="Fixed.open('#friend-received-requests-aside')">mark_email_unread</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><mark><b>Review</b></mark> sent friend requests,
            to view its state or to cancel it.</p>
            <nav>
                <i class="material-icons"
                onclick="Fixed.open('#friend-sent-requests-aside')">outgoing_mail</i>
            </nav>
        </div>
    </section>
</section>