<section class="widget" id="user-navigate-widget">
    <h2>
        <i class="material-icons">group</i>
        <span class="text-transform-capitalize">friends</span>
    </h2>
    <section class="notes">
        <div class="note">
            <p>View a list of all the <mark>friends</mark> <span>you are connected to.</span></p>
            <nav>
                <button type="button" onclick="Fixed.open('#friends-aside')">
                    <i class="material-icons">menu</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p>View a list of all the received <mark><span>friend requests.</span></mark></p>
            <nav>
                <button type="button" onclick="Fixed.open('#friend-received-requests-aside')">
                    <i class="material-icons">mark_email_unread</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p>View a list of all the sent (pending) <mark><span>friend requests.</span></mark></p>
            <nav>
                <button type="button" onclick="Fixed.open('#friend-sent-requests-aside')">
                    <i class="material-icons">outgoing_mail</i>
                </button>
            </nav>
        </div>
    </section>
</section>