{% load filters %}
<section class="widget" id="team-navigate-widget">
    <h3>
        <i class="material-icons">group</i>
        <span class="text-transform-none">{{ mate.username }}</span>
    </h3>
    <div class="notes">
        <div class="note">
            <p>
                <span>You are friends with <mark>{{ mate.username }}</mark>
                since {{ friendship.created|date:"j/m/Y H:i A" }},
                {{ friendship.created|ago }}.
            </p>
        </div>
        <div class="note">
            <p><mark>Delete</mark> the friendship with {{ mate.username }},
            all of the content related will be deleted too.</p>
            <nav>
                <a href="#">
                    <i class="material-icons">person_remove</i>
                </a>
            </nav>
        </div>
    </div>
</section>