<section class="widget" id="user-security-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">settings</i>
        <span>settings</span>
    </h2>
    <section class="notes">
        <div class="note">
            <p><mark><b>Update your password</b></mark> regularly,
            <span>at least once every 3 months.</span></p>
            <nav>
                <button type="button" onclick="Fixed.open('#password-form')">
                    <i class="material-symbols-outlined">lock_reset</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p><mark>Update your profile</mark> (<b>optional</b>):
            <span>name, email and bio.</span></p>
            <nav class="text-align-right">
                <button type="button" onclick="Fixed.open('#info-form')">
                    <i class="material-icons">edit</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p>pdf</p>
            <nav>
                <button type="button" onclick="Fixed.open('#pdf-form')">
                    <i class="material-icons">person_remove</i>
                </button>
            </nav>
        </div>
    </section>
</section>