<section class="widget" id="user-security-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">settings</i>
        <span>settings</span>
    </h2>
    <section class="notes">
        <div class="note info-note">
            <p><mark><b>Update your password</b></mark> regularly,
            <span>at least once every 3 months.</span></p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#password-form')">lock_reset</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><mark>Update your profile</mark> (<b>optional</b>):
            <span>name, email and bio.</span></p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#info-form')">edit</i>
            </nav>
        </div>
        <div class="note danger-note">
            <p><mark><b>Delete</b></mark> your account, spaces and signals immediately now.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#account-delete-form')">person_remove</i>
            </nav>
        </div>
    </section>
</section>