<header class="card">
    <h3 class="title">
        <img src="{{ request.user.profile.picture.url }}" class="circle-24" alt="{{ request.user.username }}'s profile picture" id="picture">
        <span>Welcome!, <b>{{ request.user.username }}</b></span>
    </h3>
    <p class="class="description"">This is your account settings page, here you view your logs,
    download token, update profile information and manage applications.</p>
    <nav class="row end">
        <a class="material-icons" href="{% url 'user:signout' %}">logout</a>
    </nav>
</header>
<section class="cards-w" id="control">
    {% include "user/cards/token/manage.html" %}
    {% include "user/cards/password/update.html" %}
    {% include "user/cards/profile.html" %}
</section>