<section class="widget" id="home-user-widget">
    <h3>
        <i class="material-icons">person</i>
        <span>user</span>
    </h3>
    <section class="flex-container">
        <div class="flex-box-col info-card">
            <p><b>Signup</b> immediately, only a username and a password are required.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#sign-up-form')">person_add</i>
            </nav>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Sign-in</b> now and communicate with your team without distractions.</p>
            <nav class="text-align-right">
                <i class="material-symbols-outlined" onclick="Fixed.open('#sign-in-form')">login</i>
            </nav>
        </div>
    </section>
</section>