<section class="widget" id="home-user-widget">
    <h3>
        <i class="material-icons">diversity_2</i>
        <b>Spaces</b>
    </h3>
    <section class="notes">
        <div class="note accent-note">
            <p><b><mark>Create a new space</mark></b>,
            pick a name and <span>a password</span>, its recommended
            <span>to provide a description</span>.</p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#space-create-form')">add</i>
            </nav>
        </div>
        <div class="note accent-note">
            <p>Submit a <b><mark>space identifier</mark></b>
            to create <span><b><mark>a join request</mark></b></span>,
            attach an optional message along side your request.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#space-request-form')">mail</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><mark><b>View</b></mark> a list of all the circles
            you are connected to as a founder and as a member.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#spaces-aside')">menu</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>List the received space invitations and <mark><b>respond</b></mark> to it.</p>
            <nav>
                <i class="material-icons"
                onclick="Fixed.open('#friend-received-requests-aside')">mark_email_unread</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><b><mark>Review</mark></b> sent space requests, to view its state or to cancel it.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#sent-space-requests-aside')">outgoing_mail</i>
            </nav>
        </div>
    </section>
</section>