<section class="widget" id="home-user-widget">
    <h3>
        <i class="material-symbols-outlined">diversity_2</i>
        <span>Spaces</span>
    </h3>
    <section class="notes">
        <div class="note info-note">
            <p>View a list of all the <mark>spaces<mark> <span>you are connected to.</span></p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#spaces-aside')">menu</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>View a list of all the  received <mark><span>space invitations.</span><mark></p>
            <nav>
                <i class="material-icons"
                onclick="Fixed.open('#friend-received-requests-aside')">mark_email_unread</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>View a list of all the (pending) <mark><span>space requests.</span><mark></p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#sent-space-requests-aside')">outgoing_mail</i>
            </nav>
        </div>
    </section>
</section>