<section class="widget" id="home-user-widget">
    <h3>
        <i class="material-symbols-outlined">diversity_2</i>
        <span>Spaces</span>
    </h3>
    <section class="notes">
        <div class="note">
            <p>View a list of all the <mark>spaces<mark> <span>you are connected to.</span></p>
            <nav>
                <button type="button" onclick="Fixed.open('#spaces-aside')">
                    <i class="material-icons">menu</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p>View a list of all the  received <mark><span>space invitations.</span><mark></p>
            <nav>
                <button type="button" onclick="Fixed.open('#invitations-aside')">
                    <i class="material-icons">mark_email_unread</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p>View a list of all the (pending) <mark><span>space requests.</span><mark></p>
            <nav>
                <button type="button" onclick="Fixed.open('#sent-space-requests-aside')">
                    <i class="material-icons">outgoing_mail</i>
                </button>
            </nav>
        </div>
    </section>
</section>