<section class="widget">
    <div class="notes flex-rows">
        <div class="note warning-note">
            <h3>
                <i class="material-symbols-outlined">domino_mask</i>
                <span>guest session</span>
            </h3>
            <p>As a guest user your session will be terminated after complete 8 hours
            of creation, <span>then everything</span> you created will be deleted.</p>
            <ul class="text-align-right">
                <li>
                    <b id="timer" data-count-down="{{ request.user.timer }}"></b>
                </li>
            </ul>
        </div>
    </div>
</section>