<section class="widget" id="home-header-widget">
    <h2>
        <i class="material-symbols-outlined">token</i>
        <span>token</span>
    </h2>
    <section class="notes">
        <div class="note info-note">
            <p><b><mark>Copy your account token</mark></b>, do not share it and store it safe.</p>
            <nav>
                <i class="material-icons" onclick="Template.copyToClipboard(this)" data-clipboard="{{ request.user.token.key }}">content_copy</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>It is recommened to renew your <b><mark>account token</mark></b> after using.</p>
            <nav>
                <a href="{% url 'note:update_token' %}">
                    <i class="material-symbols-outlined">refresh</i>
                </a>
            </nav>
        </div>
        <div class="note info-note">
            <p><b><mark>Login to your space</mark></b>, using your space secret token.</p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#secret-login-form')">login</i>
            </nav>
        </div>
    </section>
</section>