{% extends 'layouts/c.html' %}
{% load filters %}

{% block fixed %}
<form method="POST" action="{% url 'user:signup' %}" id="sign-up-form">
    {% with header=1 form=forms.signup password=1 %}{% include "form/base.html" %}{% endwith %}
</form>
<form method="POST" action="{% url 'user:signin' %}" id="sign-in-form">
    {% with header=1 form=forms.signin password=1 %}{% include "form/base.html" %}{% endwith %}
</form>
<form method="POST" enctype="multipart/form-data" action="{% url 'user:verify' %}" id="token-form">
    {% with header=1 form=forms.token password=1 %}{% include "form/base.html" %}{% endwith %}
</form>
{% endblock fixed %}

{% block main %}
{% include "home/components/header.html" %}
<section class="widget">
    <div class="cards-w">
        <div class="card">
            <h3 class="title">
                <i class="material-icons">person_add</i>
                <span>signup</span>
            </h3>
            <p>Set a <b>username</b> from 4 to 16 characters of letters/numbers only,
            and a <b>password</b> of at least 8 characters and <mark>start scheming now!</mark>.</p>
            <h3 class="row end">
                <i class="material-icons" onclick="Aside.open('#sign-up-form')">arrow_forward</i>
            </h3>
        </div>
        <div class="card">
            <h3 class="title">
                <i class="material-icons">login</i>
                <span>signin</span>
            </h3>
            <p>Go to the deepest of your mind, connect to your team, document your thinking journey;
            <mark>sign in now and keep the process running!<mark>.</p>
            <h3 class="row end">
                <i class="material-icons" onclick="Aside.open('#sign-in-form')">arrow_forward</i>
            </h3>
        </div>
        <div class="card f2">
            <h3 class="title">
                <i class="material-symbols-outlined">verified_user</i>
                <span>recover</span>
            </h3>
            <p>A token is a <b>one-time-use</b> quick response code used to recover your account. Download your token and <mark>keep it safe and up-to-date</mark>.
            Upload your token to recover and reset your password. You may use your token to <b>verify your account and use it later to recover</b>.</p>
            <h3 class="row end">
                <i class="material-icons" onclick="Aside.open('#token-form')">arrow_forward</i>
            </ul>
        </div>
        <div class="card">
            <h3 class="title">
                <i class="material-icons">bolt</i>
                <span>guest</span>
            </h3>
            <p><b>Chat anonymously</b>, host a private conversation circle and invite others.
            Sign in as a guest, <mark>start now without filling any forms</mark>.</p>
            <h3 class="row end">
                <a class="material-icons" href="{% url 'user:lazy' %}">arrow_forward</a>
            </h3>
        </div>
    </div>
</section>
<a class="pin material-icons" href="{% url 'home:index' %}">home</a>
{% endblock main %}