{% extends 'templates/cr.html' %}

{% block main %}
{% include "user/widgets/navigate.html" %}
{% include "user/widgets/circles.html" %}
{% include "user/widgets/friends.html" %}
{% include "user/widgets/security.html" %}
{% endblock %}

{% block right %}
{% include "mate/widgets/profile.html" %}
{% include "home/widgets/theme.html" %}
{% endblock %}

{% block fixed %}
{% include "team/fixed/list.html" %}
{% include "user/forms/password.html" %}
{% include "team/fixed/requests.html" %}
{% include "mate/fixed/received.html" %}
{% include "mate/forms/request.html" %}
{% include "mate/forms/picture.html" %}
{% include "team/forms/create.html" %}
{% include "team/forms/login.html" %}
{% include "mate/forms/info.html" %}
{% include "mate/fixed/list.html" %}
{% include "mate/fixed/sent.html" %}
{% include "user/forms/delete.html" %}
{% endblock %}

{% block head %}
<title>@{{ request.user.username }} / Settings</title>
{% endblock %}