<section class="widget" id="circle-founder-widget">
    <h3 class="text-capitalize">
        <i class="material-icons">bolt</i>
        <span>actions</span>
    </h3>
    <section class="cards">
        {% if request.user == circle.founder %}
            {% include "team/cards/form/update.html" %}
            {% include "team/cards/aside/requests.html" %}
            {% if not circle.room_members_synced %}
                {% include "team/cards/function/room.html" %}
            {% endif %}
        {% endif %}
        {% include "team/cards/function/invite.html" %}
        {% include "team/cards/function/leave.html" %}
    </section>
</section>