<section class="widget" id="asides-widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">widgets</i>
        <span>widgets</span>
    </h3>
    <section class="cards">
        <div class="card" id="left-aside-card">
            <p>View the circle's members' list, ordered by the time of joining.</p>
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#left')">groups</i>
            </nav>
        </div>
        <div class="card" id="right-aside-card">
            <p>Say <b>Hello there!</b>, open the circle' main group conversation room.</p>
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#right')">forum</i>
            </nav>
        </div>
    </section>
</section>