{% if request.user == circle.founder %}
<section class="widget" id="circle-founder-widget">
    <h3 class="text-capitalize">
        <i class="material-icons">settings</i>
        <span>manage</span>
    </h3>
    <section class="cards">
        {% include "team/cards/form/update.html" %}
        {% include "team/cards/aside/requests.html" %}
        {% if not circle.room_members_synced %}
        {% include "team/cards/function/room.html" %}
        {% endif %}
    </section>
</section>
{% endif %}