<section class="widget" id="team-navigate-widget">
    <h3>
        <i class="material-icons">admin_panel_settings</i>
        <span>manage</span>
    </h3>
    <div class="flex-container">
        <div class="flex-box-col warning-card">
            <p><b>Update</b> the circle's profile info, make sure to keep it specific.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#space-update-form')">edit_square</i>
            </nav>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Respond</b> to received circle request.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#requests-aside')">mark_email_unread</i>
            </nav>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Add</b> directly to the circle. Select from or all of, your friends.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#founder-friends-form')">add</i>
            </nav>
        </div>
    </div>
</section>