{% load filters %}
<section class="widget" id="team-navigate-widget">
    <h3>
        <i class="material-icons">diversity_2</i>
        <span>{{ circle.name }}</span>
    </h3>
    <div class="flex-container">
        <div class="flex-box-col info-card">
            <p>{{ circle.name }} was created by <b>{{ circle.founder.username }}</b>,
            {{ circle.created|ago }}, <span>on {{ circle.created|date:"H:i A, j/m/Y" }}</span>.</p>
        </div>
        <div class="flex-box-col info-card">
            <p><b>View</b> all of the circle members. Ordered by; the time of joining.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Fixed.open('#members-aside')">groups</i>
            </nav>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Share</b> the serial so that visitors and users can request to join.</p>
            <nav class="text-align-right">
                <i class="material-icons" onclick="Template.copyToClipboard(this)" data-clipboard="{{ circle.serial }}">content_copy</i>
            </nav>
        </div>
    </div>
</section>