{% load filters %}
<section class="widget" id="team-navigate-widget">
    <h3>
        <i class="material-icons">diversity_2</i>
        <span class="text-transform-none">{{ space.name }}</span>
    </h3>
    <div class="notes">
        <div class="note">
            <p>
                <span><mark>{{ space.name }}</mark> was created {{ space.created|ago }},</span>
                <span>by {{ space.founder.username }},</span>
                <span>on {{ space.created|date:"j/m/Y H:i A" }}.</span>
            </p>
            <nav>
                <a href="{% url 'team:founder' %}" class="material-icons">admin_panel_settings</a>
            </nav>
        </div>
        <div class="note">
            <p><mark>View</mark> a list of all the space members.</p>
            <nav>
                <button type="button" onclick="Fixed.open('#members-aside')">
                    <i class="material-icons">groups</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p><mark>Share</mark> the space identifier with users to send <span>space requests</span>.</p>
            <nav>
                <button type="button" onclick="Template.copy(this)" data-clipboard="{{ template.space.identifier }}">
                    <i class="material-icons">content_copy</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p><mark>Logout</mark> from this space, some actions are not avalible while you are logined.</p>
            <nav>
                <a href="{% url 'team:logout' %}">
                    <i class="material-icons">logout</i>
                </a>
            </nav>
        </div>
    </div>
</section>