<section class="widget" id="home-user-widget">
    <h3>
        <i class="material-icons">diversity_2</i>
        <b>Space</b>
    </h3>
    <section class="notes">
        <div class="note info-note">
            <p><b><mark>Create a new space</mark></b>, pick a name and password,
            its recommended to provide a description <b>(optional)</b>.</p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#space-create-form')">add</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><b><mark>Request to join an existing space</mark></b>,
            submit the space's serial and a message (optional).</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#space-request-form')">outgoing_mail</i>
            </nav>
        </div>
        <div class="note info-note">
            <p><b><mark>Login to your space</mark></b>,
            submit your secret token to sign-in and log-in in one step.</p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#secret-signin-form')">login</i>
            </nav>
        </div>
    </section>
</section>