{% load filters %}
<section class="widget" id="team-navigate-widget">
    <h3>
        <i class="material-icons">shield</i>
       <span>secuirty</span>
    </h3>
    <div class="notes">
        <div class="note info-note">
            <p><mark>Copy</mark> your space ({{ space.name }}) key,
            space keys are used to log-in directly wether <span>signed-in or not.</span></p>
            <nav>
                <i class="material-icons" onclick="Template.copyToClipboard(this)" data-clipboard="{{ request.user.username }}">content_copy</i>
            </nav>
        </div>
        <div class="note info-note">
            <p>It is recommened to renew your <span><mark>space's key</mark></span>
            regulary, last update <span>was <mark>{{ membership.updated|ago }}</mark>.</span></p>
            <nav>
                <i class="material-icons">refresh</i>
            </nav>
        </div>
        <div class="note danger-note">
            <p><mark>Leave</mark> the circle and delete your all of your contributions.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#space-delete-or-leave-footer')">person_remove</i>
            </nav>
        </div>
        {% if request.user == space.founder %}
        <div class="note danger-note">
            <p><mark>Transfer</mark> the space ownership <span>to another member</span>.</p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#space-transfer-form')">partner_exchange</i>
            </nav>
        </div>
        <div class="note danger-note">
            <p><mark>Delete</mark> the circle and delete its content, <span>this cannot be undone</span>.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#space-delete-or-leave-footer')">delete</i>
            </nav>
        </div>
        {% endif %}
    </div>
</section>