{% load filters %}
<aside id="history-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        {% with logs=circle.logs %}
        <section class="widget" id="logs-widget">
            <h3 class="text-capitalize">
                <i class="material-symbols-outlined">history</i>
                <span>logs</span> 
            </h3>
            <section class="cards">
                {% if logs.count %}
                    {% for log in logs %}
                    <div class="verticl-line"></div>
                    <div class="flex-box-col log">
                        <h4>
                            {% if log.action_flag|flag_repr == "view" %}
                            <i class="{{ log.action_flag|flag_repr }} material-icons">visibility</i>
                            {% elif log.action_flag|flag_repr == "add" %}
                            <i class="{{ log.action_flag|flag_repr }} material-icons">add</i>
                            {% elif log.action_flag|flag_repr == "change" %}
                            <i class="{{ log.action_flag|flag_repr }} material-icons">edit</i>
                            {% elif log.action_flag|flag_repr == "delete" %}
                            <i class="{{ log.action_flag|flag_repr }} material-icons">delete</i>
                            {% endif %}
                            <span>{{ log.action_time|date:"M d, y" }}</span>
                        </h4>
                        <small><b>{{ log.user.username }}</b> {{ log.get_change_message }}</small>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="flex-box-col">
                    <p>There are no updates right now</p>
                </div>
                {% endif %}
            </section>
        </section>
        {% endwith %}
    </div>
</aside>