/*
    <>
*/

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
.cell {
    text-transform: capitalize;
    display: table-cell;
}

h1,
h1 .material-icons,
h1 .material-symbols-outlined {
    font-size: 1.75rem;
}

h2,
h2 .material-icons,
h2 .material-symbols-outlined {
    font-size: 1.25rem;
}

h3,
h3 .material-icons,
h3 .material-symbols-outlined {
    font-size: 1rem;
}

h4,
h4 .material-icons,
h4 .material-symbols-outlined {
    font-size: .85rem;
}

h1 *,
h2 *,
h3 *,
h4 *,
.cell * {
    vertical-align: middle;
}

p {
    text-transform: none;
    font-weight: 300;
    line-height: 1.4;
    padding: 0px 4px;
    font-size: 1rem;
}

span {
    display: inline-block;
}

small,
small .material-icons,
small .material-symbols-outlined {
    font-size: .75rem;
}

b {
    font-weight: 700;
}

a,
button,
*[onclick]{
    -webkit-tap-highlight-color: transparent;
    color: var(--d4);
}

button,
*[onclick] {
    cursor: pointer;
}

button {
    font-size: inherit;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--d4);
}

/*
    .text-*
*/

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-transform-lower {
    text-transform: lowercase;
}

.text-transform-upper {
    text-transform: uppercase;
}

.text-transform-capitalize {
    text-transform: capitalize;
}

.text-transform-none {
    text-transform: none;
}