/*
    @imports
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    .
*/

/*
    .title
*/

.line,
.title {
    display: table-cell;
}
.line *,
.title * {
    vertical-align: middle;
}

.title {
    text-transform: capitalize;
}

.text-left {
    text-align: left;
}

/*
    .text-*
*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*
    .log
*/

.log li,
.log li .material-icons {
    font-size: .84rem;
}

.log li:nth-child(1),
.log li:nth-child(1) .material-icons {
    font-size: .88rem;
}

/*
    .aside-nav
*/

.aside-nav i {
    font-size: 1.5rem;
}

/*
    <>
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

small {
    font-size: smaller !important;
}

/*
    .<>
*/

h1.title,
h1.title i.material-icons,
h1.title i.material-symbols-outlined {
    font-size: 2.625rem;
}

h2.title,
h2.title i.material-icons,
h2.title i.material-symbols-outlined {
    font-size: 2.25rem;
}

h2.title,
h2.title i.material-icons,
h2.title i.material-symbols-outlined {
    font-size: 1.875rem;
}

/*
    <>
*/

p {
    margin: 12px 0px;
    text-transform: none;
    font-weight: 300;
    line-height: 1.4;
    font-size: 1rem;
}

p span {
    display: inline-block;
}

b {
    font-weight: 700;
}

a,
button,
*[onclick]{
    -webkit-tap-highlight-color: transparent;
}

button,
*[onclick] {
    cursor: pointer;
}

button {
    font-size: inherit;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--fc);
}