/*
    Signal
*/

.signal {
    background: var(--d1);
}


.signal img {
    border-radius: 100%;
    height: 24px;
    width: 24px;
}

#read_concern #center .vertical-thread .vertical-thread_line,
#read_test #center .vertical-thread .vertical-thread_line,
#read_result #center .vertical-thread .vertical-thread_line {
    background: var(--di);
}

#read_idea #center .card.signal,
#read_concern #center .vertical-thread .card.signal:first-child,
#read_test #center .vertical-thread .card.signal:first-child,
#read_result #center .vertical-thread .card.signal:first-child {
    outline-color: var(--di);
}
