form {
  width: 360px;
  height: var(--wh);
  background: var(--d1);
  fill: none !important;
  border-right: 1.32px solid var(--bc);
  transition: left 1s ease-in-out;
  position: fixed;
  left: calc(var(--ww) * -1);
  bottom: 0px;
}

form.active {
  left: 0px;
}

form nav {
  display: flex;
  background: none;
  height: max-content;
  position: absolute;
  z-index: 16;
  bottom: 8px;
  right: 8px;
  gap: 8px;
}

form fieldset {
  height: var(--wh);
  overflow: hidden;
  width: 100%;
}

form.active fieldset nav {
  top: 32px;
}

/*
div
*/

form fieldset div {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  gap: 4px;
}

form fieldset div input,
form fieldset div textarea {
  width: 100%;
  border: none;
  resize: none;
  display: block;
  background: none;
  font-size: 1rem !important;
  outline: 1px solid var(--d2);
  border-radius: 4px;
  color: var(--fc);
  padding: 8px;
  width: 100%;
}

form fieldset div textarea {
  height: min-content;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

form fieldset div textarea::-webkit-scrollbar {
  display: none;
}

form fieldset div input:focus,
form fieldset div textarea:focus {
  outline-color: var(--d3);
}

form fieldset div small {
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.2;
}

form fieldset div small::first-letter {
  text-transform: capitalize;
}

/*
div.check
*/

div.check h5 {
  text-transform: capitalize;
  line-height: 2;
}

div.check div.container [type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

div.check div.container [type=checkbox] + h6 {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-transform: capitalize;
  outline: 1px solid var(--d2);
}

div.check div.container [type=checkbox]:checked + h6 {
  outline-color: var(--d4);
  background: var(--d4);
}

/*
div.radio
*/

div.radio h5 {
  text-transform: capitalize;
  line-height: 2;
}

div.radio div.container {
  display: flex;
  flex-wrap: wrap;
}

div.radio div.container label {
  flex: auto 1 fit-content;
}

div.radio div.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

div.radio div.container input + h6 {
  display: inline-block;
  text-transform: capitalize;
  outline: 1px solid var(--d2);
  background: var(--d1);
  cursor: pointer;
}

div.radio div.container input:checked + h6 {
  font-weight: bolder;
  outline-color: var(--d4);
  background: var(--d4);
}

/*
div.file
*/

form div.file label {
  display: block;
  cursor: pointer;
  text-align: center;
  outline: 1px solid var(--d2);
  text-transform: capitalize;
}

form fieldset div.file input {
  display: none;
}

/*
div.text
div.text-area
div.password
*/

div.text label,
div.text-area label, 
div.password label {
  line-height: 1.4;
}