h3.message {
    padding: 8px;
    color: #000;
    display: flex;
    position: fixed;
    border-radius: 8px;
    height: min-content;
    width: calc(var(--ww) / 2);
    right: calc(var(--ww) / 4);
    left: calc(var(--ww) / 4);
    top: 8px;
    gap: 8px;
}

h3.message span:not([class]) {
    flex: 3;
    text-align: center;
}

h3.message span.material-icons {
    flex: 1;
}

h3.message span.material-icons:last-child {
    text-align: right;
}

h3.message.info {
    outline: 1.32px solid var(--di);
    background: var(--li);
}

h3.message.error {
    outline: 1.32px solid var(--dd);
    background: var(--ld);
}

h3.message.warning {
    outline: 1.32px solid var(--dw);
    background: var(--lw);
}

h3.message.success {
    outline: 1.32px solid var(--ds);
    background: var(--ls);
}

h3.message span,
h3.message span.material-icons {
    font-size: 1rem !important;
}
