{% load user_filters %}

<aside id="requests" class="left">
    <nav class="text-align-right">
        <i class="material-symbols-outlined" onclick="Fixed.clear()">close</i>
    </nav>
    {% if request.resolver_match.app_name == "user" and request.user == circle.founder %}
    <div class="card" role="describe">
        <p>These requests have been received, sorted from oldest to newest.</p>
        <ul class="end">
            <li><b>{{ circle.circlerequest_set.count }}</b></li>
        </ul>
    </div>
    {% for ask in circle.circlerequest_set.all %}
    <ul class="row">
        <li>
            <img src="{{ ask.user|profile_picture_url }}" alt="" class="circle-24">
            <span>{{ ask.user.username }}</span>
        </li>
        <li>
            <a href="{% url 'team:approve' ask.user.id %}" class="material-symbols-outlined">check</a>
            <a href="{% url 'team:reject' ask.user.id %}" class="material-symbols-outlined">close</a>
        </li>
    </ul>
    {% endfor %}
    {% elif request.resolver_match.app_name == "team" %}
    {% endif %}
</aside>