.signal-form-card ul.end li span {
    font-size: smaller;
    font-weight: 700;
    display: none;
}

.signal-form-card ul.end li:hover span {
    display: inline-block;   
}

.card.signal p {
    text-indent: 28px;
}

.card.signal a {
    transition-timing-function: ease-in-out;
    transition-property: background;
    transition-duration: .5s;
    background: var(--d3);
    border-radius: 4px;
    font-size: .75rem;
    padding: 4px;
}

.card.signal a:hover {
    background: var(--di);
}

#signals-beam-widget .vertical-line {
    background: var(--lw);
}

#signals-beam-widget .vertical-line + .card {
    outline-color: var(--lw);
}