{% if request.user.is_authenticated %}
<div class="card">
    <h3 class="title">
        <img src="{{ request.user.profile.picture.url }}" class="circle-24" alt="{{ request.user.username }}'s profile picture" id="picture">
        <span>{{ request.user.username }}</span>
    </h3>
    <p>Download your security token, manage your account settings and privacy.
    View and update profile information, view activity logs.</p>
    <nav class="end">
        <a href="{% url 'user:settings' %}" class="material-icons">person</a>
        <a href="{% url 'user:signout' %}" class="material-icons">logout</a>
    </nav>
</div>
{% else %}
<div class="card">
    <h3 class="title">
        <i class="material-symbols-outlined">person</i>
        <span>user</span>
    </h3>
    <p>Signup or you could signin as a guest in a single click.
    Login to your account, recover. Visit the user application to join us!.</p>
    <nav class="end">
        <a class="material-icons" href="{% url 'user:navigate' %}">arrow_forward</a>
    </nav>
</div>
{% endif %}