{% load filters %}
<aside id="members-aside">
    <div class="column">
        <button type="button" onclick="Fixed.clear()" class="material-icons column-button">close</button>
        <section class="widget">
            <section class="notes">
                <div class="note">
                    <p>
                        <b>{{ space.members.count }} member/s,</b>
                        <span>last member was approved</span>
                        <span>{{ space.membership_set.last.updated|ago }}.</span>
                    </p>
                </div>
                {% if space.members.count %}
                <table>
                {% for membership in space.membership_set.all %}
                    <tr>
                        <td>
                            <b class="text-transform-none">{{ membership.user.username }}</b>
                        </td>
                        <td>
                            <a href="{{ membership.url }}" class="material-icons">link</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                {% endif %}
            </section>
        </section>
    </div>
</aside>