<div class="card" role="function">
    <h3 class="title">
        <i class="material-icons">qr_code</i>
        <span>token</span>
    </h3>
    <p><b>Download</b> your QR code recovery token and store it securely. Also,
    you could <b>regenerate</b> your token, if it was <span>exposed or shared!</span>.</p>
    <nav class="end">
        <a class="material-icons" href="{% url 'user:update_token' %}">autorenew</a>
        <a class="material-symbols-outlined" href="{% url 'user:token' %}">download</a>
    </nav>
</div>
