<aside id="circles-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="widget">
            <div class="flex-box-col">
                <p>As a founder, you are connected <span>to
                <b>{{ request.user.scheme.circles.as_founder.count }}</b> circles</span>.</p>
                <ul class="text-align-right">
                    <i class="material-symbols-outlined">local_police</i>
                </ul>
            </div>
            <div class="flex-box-col">
                <p>As a member, you are connected <span>to
                <b>{{ request.user.scheme.circles.as_member.count }}</b> circles</span>.</p>
                <ul class="text-align-right">
                    <i class="material-symbols-outlined">shield</i>
                </ul>
            </div>
            {% if request.user.scheme.circles.all %}
            {% for circle in request.user.scheme.circles.all %}
            <nav class="flex-box-row">
                <h3 class="text-transform-none">{{ circle.name }}</h3>
                {% if opened_circle.id == circle.id %}
                <a href="{% url 'team:browse' %}" class="text-align-right info-color">
                    <b class="material-icons">diversity_2</b>
                </a>
                {% else %}
                <h3 class="text-align-right">
                    <i class="material-icons" onclick="Fixed.CircleLoginForm('{{ circle.name }}')">login</i>
                </h3>
                {% endif %}
            </nav>
            {% endfor %}
            {% endif %}
        </section>
    </div>
</aside>