{% load filters %}
<aside id="friends-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="widget">
            <div class="notes">
                {% for member in request.user|space_friends:space %}
                <ul class="flex-box-row">
                    <div class="flex-row-start">
                        <h4>{{ member.username }}</h4>
                    </div>
                </ul>
                {% endfor %}
            </div>
        </section>
    </div>
</aside>