{% load user_filters %}
<aside id="requests-aside">
    <div class="column">
        <button type="button" onclick="Fixed.clear()" class="material-icons column-button">close</button>
        <section class="widget">
            <section class="flex-container">
                {% if request.resolver_match.app_name == "team" and request.user == circle.founder %}
                <div class="flex-box-col">
                    <p>These requests have been received, sorted from oldest to newest.</p>
                    <ul class="text-align-right">
                        <li>{{ circle.join_requests.count }}</li>
                    </ul>
                </div>
                {% for ask in circle.join_requests %}
                <div class="flex-box-row">
                    <div  class="flex-row-start">
                        <img src="{{ ask.user|profile_picture_url }}" alt="" class="circle-24">
                        <span>{{ ask.user.username }}</span>
                    </div>
                    <nav class="flex-row-end">
                        <a href="{% url 'team:accept_request' ask.user.id %}" class="material-symbols-outlined">check</a>
                        <a href="{% url 'team:reject_request' ask.user.id %}" class="material-symbols-outlined">close</a>
                    </nav>
                </div>
                {% endfor %}
                {% elif request.resolver_match.app_name == "user" and request.user.profile.requests.circle.count %}
                {% for req in request.user.profile.requests.circle.all %}
                <ul class="row">
                    <li>
                        <span>{{ req.circle.name }}</span>
                    </li>
                    <li>
                        <a href="{{ req.cancel }}" class="material-symbols-outlined">close</a>
                    </li>
                </ul>
                {% endfor %}
                {% else %}
                <div class="flex-box-col">
                    <p>there is no</p>
                </div>
                {% endif %}
            </section>
        </section>
    </div>
</aside>