<aside id="spaces-aside">
    <div class="column">
        <button type="button" class="material-icons column-button" onclick="Fixed.clear()">close</button>
        <section class="widget">
            {% if request.user.profile.spaces.all.count %}
            {% for space in request.user.profile.spaces.all.all %}
            <div class="note info-note">
                <p><mark><b class="text-transform-none">{{ space.name }}</b></mark></p>
                <nav>
                    <i class="material-icons" onclick="Fixed.SpaceLoginForm('{{ space.name }}')">login</i>
                </nav>
            </div>
            {% endfor %}
            {% else %}
            <div class="note info-note">
                <p class="text-align-center">You have no sent requests.</p>
            </div>
            {% endif %}
        </section>
    </div>
</aside>