{% load user_filters %}
{% if request.user.is_guest %}
<div class="flex-box-col info-card">
    <p><b>Manage</b> your account theme, circle and friend lists and requests.</p>
    <nav class="text-align-right">
        <a href="{% url 'user:guest' %}">
            <img
                src="{{ request.user|profile_picture_url }}"
                class="circle-24" alt="{{ request.user.username }}'s profile picture"
            />
        </a>
    </nav>
</div>
{% else %}
<div class="flex-box-col info-card">
    <p><b>Manage</b> your account, recovery token, circles, profile and theme.</p>
    <nav class="text-align-right">
        <a href="{% url 'user:settings' %}">
            <img
                src="{{ request.user|profile_picture_url }}"
                class="circle-24" alt="{{ request.user.username }}'s profile picture"
            />
        </a>
    </nav>
</div>
{% endif %}