{% if 'token' in request.session %}
<div class="card">
    <h3 class="title">
        <i class="material-symbols-outlined">qr_code</i>
        <span>token</span>
    </h3>
    <p>Your QR token is still valid ausable, <b>unless</b> you reset your password else,
    you have to download your new token after signing-in.</p>
    <nav class="end">
        <a class="material-icons" href="{% url 'user:cancel' %}">home</a>
    </nav>
</div>
{% else %}
<div class="card">
    <h3 class="title">
        <i class="material-symbols-outlined">qr_code</i>
        <span>token</span>
    </h3>
    <p>A token is a one-time-use quick response code used to <b>recover</b> your account.
    Download your token and keep it safe and up-to-date.</p>
</div>
{% endif %}