{% extends 'templates/lcr.html' %}
{% load static %}

{% block main %}
{% if circle.founder == request.user %}
{% include "team/widgets/manage.html" %}
{% endif %}
{% include "team/widgets/settings.html" %}
{% include "ping/widgets/room.html" %}
{% endblock %}

{% block left %}
{% include "team/widgets/user.html" %}
{% endblock %}

{% block right %}
{% include "components/widgets/history.html" %}
{% include "team/widgets/security.html" %}
{% endblock %}

{% block side %}
{% include "ping/form/room.html" %}
{% include "components/aside/history.html" %}
{% include "team/aside/members.html" %}
{% include "team/aside/friends.html" %}
{% if circle.founder == request.user %}
{% include "team/aside/requests.html" %}
{% include "team/form/transfer.html" %}
{% include "team/form/import.html" %}
{% include "team/form/update.html" %}
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'ping/js/master.js' %}" defer></script>
<script src="{% static 'ping/js/room.js' %}" defer></script>
{% endblock %}