{% extends 'templates/lc.html' %}
{% load static %}

{% block main %}
{% include "team/widgets/navigate.html" %}
{% include "team/widgets/settings.html" %}
{% include "team/widgets/manage.html" %}
{% include "team/widgets/security.html" %}
{% endblock %}

{% block left %}
{% include "team/widgets/members.html" %}
{% endblock %}

{% block fixed %}
{% include "team/aside/requests.html" %}
{% include "team/form/transfer.html" %}
{% include "team/form/friends.html" %}
{% include "team/form/update.html" %}
{% endblock %}

{% block head %}
{% include "team/head.html" %}
{% endblock %}