{% load filters %}
{% for log in logs %}
<ul class="card log" data-account-id="{{ log.user.id }}">
    <li class="row">
        <i class="material-icons">schedule</i>
        <span>{{ log.action_time|date:"M d, y A h:i" }}</span>
    </li>
    <li class="row">
        {% if log.action_flag|flag_repr == "view" %}
        <i class="{{ log.action_flag|flag_repr }} material-icons">visibility</i>
        {% elif log.action_flag|flag_repr == "add" %}
        <i class="{{ log.action_flag|flag_repr }} material-icons">add</i>
        {% elif log.action_flag|flag_repr == "change" %}
        <i class="{{ log.action_flag|flag_repr }} material-icons">edit</i>
        {% elif log.action_flag|flag_repr == "delete" %}
        <i class="{{ log.action_flag|flag_repr }} material-icons">delete</i>
        {% endif %}
        <span><b>{{ log.user.username }}</b> {{ log.get_change_message }}</span>
    </li>
    <li class="row end">
        <span>{{ log.action_time|ago }}</span>
        <i class="material-icons">commit</i>
    </li>
</ul>
{% endfor %}
