aside {
    width: 100%;
}

.aside-l,
.aside-r {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.aside-r {
    position: fixed;
    transition-property: right;
    right: -400%;
    bottom: 0px;
    top: 0px;
}

.aside-l {
    position: fixed;
    transition-property: left;
    left: -400%;
    bottom: 0px;
    top: 0px;
}

.aside-r.active {
    right: 0px;
}

.aside-l.active {
    left: 0px;
}

aside.aside-r div.wrapper > button {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

aside.aside-l div.wrapper > button {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.pin {
    border-radius: 100%;
    padding: 8px;
    height: 40px;
    width: 40px;
}

#left-pin,
#right-pin {
    display: block;
}

main.cr-grid #center #right-pin,
main.lc-grid #center #left-pin,
main.lcr-grid #center #left-pin + #right-pin,
main.lr-grid #left #right-pin {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

main.lcr-grid #center #left-pin {
    position: absolute;
    bottom: 52px;
    right: 8px;
}

@media (width > 360px) {

    .aside-l,
    .aside-r {
        width: 360px;
    }

    .aside-r {
        right: calc(-360px * 4);
    }

    aside.-l {
        left: calc(-360px * 4);
    }

}

@media (width >= 720px) {

    main.lr-grid #left #right-pin,
    main.lr-grid #right.aside-r .wrapper > button {
        display: none;
    }

}

@media (width >= 1080px) {

    main.cr-grid #center #right-pin,
    main.lc-grid #center #left-pin,
    main.lcr-grid #center #left-pin,
    main.cr-grid #right.aside-r .wrapper > button,
    main.lc-grid #left.aside-l .wrapper > button,
    main.lcr-grid #left.aside-l .wrapper > button {
        display: none;
    }

}

@media (width >= 1440px) {

    main.lcr-grid #center #right-pin, 
    main.lcr-grid #right.aside-r .wrapper > button {
        display: none;
    }

}