.widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.widget > h1,
.widget > h2,
.widget > h3,
.widget > h4 {
    font-weight: 700 !important;
    line-height: 1.5 !important;
}

/*
    .cards
    In <aside>
*/

aside .cards {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.cards .verticl-line {
    width: 4px;
    background: var(--d3);
    position: absolute;
    content: "";
    bottom: 0px; 
    left: 16px;
    top: 0px;
}

/*
    .cards
    In <main>
*/

main .cards {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
}

main .cards-w .card {
    flex: 1;
}

@media (width >= 720px) {

    main .cards:not(.rows) {
        flex-wrap: wrap;
        flex-direction: row;
    }

    main .cards:not(.rows) .card {
        max-width: calc(calc(100% - 8px) / 2);
        flex: calc(calc(100% - 8px) / 2);
    }

    main .cards:not(.rows) .card.fw {
        max-width: 100%;
        flex: 100%;
    }

}

/*
    .card-s
    scrollable row
*/

.cards-s {
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    padding: 2px;
    gap: 8px;
}

.cards-s::-webkit-scrollbar {
    display: none;
}

.cards-s .card {
    width: 340px !important;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

@media screen {
    .cards-s .card {
        width: calc((100% - 8px) / 2);
    }
}

/*
    .card
*/

.card {
    display: flex;
    outline: 1.32px solid var(--d3);
    flex-direction: column;
    background: var(--d2);
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}

.card.info {
    outline: 1.32px solid var(--li);
}

.card.warning {
    outline: 1.32px solid var(--lw);
}

.card.danger {
    outline: 1.32px solid var(--ld);
}

.card.success {
    outline: 1.32px solid var(--ls);
}

.card .start,
.card .center,
.card .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card .start {
    justify-content: flex-start;
}

.card .center {
    justify-content: center;
}

.card .end {
    justify-content: flex-end;
}

/*
    circles
*/

.circle-24 {
    border-radius: 100%;
    height: 24px;
    width: 24px;
}

.circle-48 {
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

/*
    .row
*/

ul.row {
    display: flex;
    flex-direction: row;
    outline: 1.32px solid var(--d3);
    background: var(--d2);
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
}

ul.row li {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}

ul.row li:last-child {
    justify-content: flex-end;
}