.widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*
    .cards-v
*/

.cards-v {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.cards-v .verticl-line {
    width: 2px;
    content: "";
    position: absolute;
    bottom: 0px; 
    left: 16px;
    top: 0px;
}

/*
    .cards-w
*/

.cards-w {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
}

.cards-w .card {
    flex: 1;
}

@media (width >= 720px) {

    .cards-w {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cards-w .card {
        max-width: calc(calc(100% - 8px) / 2);
        flex: calc(calc(100% - 8px) / 2);
    }

    .cards-w .card.fw {
        max-width: 100%;
        flex: 100%;
    }

}

/*
    .card-s
    scrollable row
*/

.cards-s {
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    padding: 2px;
    gap: 8px;
}

.cards-s::-webkit-scrollbar {
    display: none;
}

.cards-s .card {
    width: 340px !important;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

@media screen {
    .cards-s .card {
        width: calc((100% - 8px) / 2);
    }
}

/*
    .card
*/

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
}

.card.row,
.card.center,
.card.end {
    flex-direction: row;
    align-items: center;
}

.card.row {
    justify-content: flex-start;
}

.card.center {
    justify-content: center;
}

.card.end {
    justify-content: flex-end;
}

.card .row,
.card .center,
.card .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card .row {
    justify-content: flex-start;
}

.card .center {
    justify-content: center;
}

.card .end {
    justify-content: flex-end;
}

.card p {
    margin: 0px;
}

/*
    circles
*/

.circle-24 {
    border-radius: 100%;
    height: 24px;
    width: 24px;
}

.circle-48 {
    border-radius: 100%;
    height: 48px;
    width: 48px;
}