.widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*
    .card-s
    scrollable row
*/

.card-s {
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    flex-wrap: nowrap;
    overflow: auto;
    padding: 4px;
    gap: 8px;
}

.card-s::-webkit-scrollbar {
    display: none;
}

.card-s > .card {
    width: calc(50% - 4px);
    flex-wrap: wrap;
    flex: 0 0 auto;
}

/*
    .cards-v
*/

.cards-v {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.cards-v .verticl-line {
    width: 2px;
    content: "";
    background: var(--d2);
    position: absolute;
    bottom: 0px; 
    left: 16px;
    top: 0px;
}

body.light .cards-v .verticl-line {
    background: var(--d4);
}

/*
    .cards-w
*/

.cards-w {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
}

.cards-w .card {
    flex: 1;
}

@media (width >= 720px) {

    .cards-w {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cards-w .card {
        max-width: calc(calc(100% - 8px) / 2);
        flex: calc(calc(100% - 8px) / 2);
    }

    .cards-w .card.fb {
        max-width: 100%;
        flex: 100%;
    }

}

/*
    .card
*/

.card {
    display: flex;
    flex-direction: column;
    outline: 1.32px solid var(--bc);
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
}

.card.center {
    align-items: center;
}

body.light .card {
    background: var(--d2);
}

.card .row,
.card .center,
.card .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card .center {
    justify-content: center;
}

.card .end {
    justify-content: flex-end;
}

.card.info {
    outline: 1.32px solid var(--li);
}

.card.warning {
    outline: 1.32px solid var(--lw);
}

.card.danger {
    outline: 1.32px solid var(--ld);
}

.card.success {
    outline: 1.32px solid var(--ls);
}

/*
    circles
*/

.circle-24 {
    border-radius: 100%;
    height: 24px;
    width: 24px;
}

.circle-48 {
    border-radius: 100%;
    height: 48px;
    width: 48px;
}