form label {
  line-height: 1.4;
}

form small {
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.2;
}

form label::first-letter,
form small::first-letter {
  text-transform: capitalize;
}

/*
  div
*/

fieldset div {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  gap: 4px;
}

/*
  fields
*/

input,
textarea {
  display: block;
  outline: 1px solid var(--d3);
  font-size: 1rem !important;
  background: var(--d1);
  border-radius: 4px;
  color: var(--d4);
  border: none;
  resize: none;
  padding: 8px;
  width: 100%;
}

textarea {
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: min-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  display: none;
}

/*
  div.check
*/

div.check h5 {
  text-transform: capitalize;
  line-height: 2;
}

div.check div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

div.check div.container [type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

div.check div.container [type=checkbox] + h6,
div.radio div.container input + h6 {
  border-radius: 8px;
  background: var(--d1);
  outline: 1px solid var(--d3);
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
}

div.check div.container [type=checkbox]:checked + h6,
div.radio div.container input:checked + h6 {
  outline-color: var(--di);
  color: var(--di);
}

/*
  div.radio
*/

div.radio h5 {
  text-transform: capitalize;
  line-height: 2;
}

div.radio div.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

div.radio div.container label {
  flex: auto 1 fit-content;
}

div.radio div.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/*
  div.file
*/

div.file label {
  display: block;
  cursor: pointer;
  text-align: center;
  outline: 1px solid var(--d2);
  text-transform: capitalize;
}

div.file input {
  display: none;
}