form {
  width: 100%;
  padding: 8px;
  height: var(--wh);
  background: var(--d1);
  fill: none !important;
  bottom: 0px;
}

form.left {
  position: fixed;
  border-right: 1.32px solid var(--d3);   
  transition-property: left;
  left: calc(-360px * 4);
}

form.right {
  position: fixed;
  border-left: 1.32px solid var(--d3);   
  transition-property: right;
  right: calc(-360px * 4);
}

form.left.active {
  left: 0px;
}

form.right.active {
  right: 0px;
}

form nav {
  display: flex;
  background: none;
  height: max-content;
  position: absolute;
  z-index: 16;
  bottom: 8px;
  right: 8px;
  gap: 8px;
}

form fieldset {
  height: var(--wh);
  overflow: hidden;
  width: 100%;
}

form.active fieldset nav {
  top: 32px;
}

form fieldset div small {
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.2;
}

form fieldset div small::first-letter {
  text-transform: capitalize;
}

/*
  div
*/

form fieldset div {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  gap: 4px;
}

input,
textarea {
  display: block;
  outline: 1px solid var(--d2);
  font-size: 1rem !important;
  background: var(--d2);
  border-radius: 4px;
  color: var(--d4);
  outline: none;
  border: none;
  resize: none;
  padding: 8px;
  width: 100%;
}

textarea {
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: min-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  display: none;
}

input:focus,
textarea:focus {
  outline-color: var(--d3);
}


/*
  div.check
*/

div.check h5 {
  text-transform: capitalize;
  line-height: 2;
}

div.check div.container [type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

div.check div.container [type=checkbox] + h6 {
  outline: 1px solid var(--d2);
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

div.check div.container [type=checkbox]:checked + h6 {
  outline-color: var(--d4);
  background: var(--d4);
}

/*
  div.radio
*/

div.radio h5 {
  text-transform: capitalize;
  line-height: 2;
}

div.radio div.container {
  display: flex;
  flex-wrap: wrap;
}

div.radio div.container label {
  flex: auto 1 fit-content;
}

div.radio div.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

div.radio div.container input + h6 {
  outline: 1px solid var(--d2);
  text-transform: capitalize;
  display: inline-block;
  background: var(--d1);
  cursor: pointer;
}

div.radio div.container input:checked + h6 {
  outline-color: var(--d4);
  background: var(--d4);
  font-weight: bolder;
}

/*
  div.file
*/

div.file label {
  display: block;
  cursor: pointer;
  text-align: center;
  outline: 1px solid var(--d2);
  text-transform: capitalize;
}

div.file input {
  display: none;
}

/*
  div.text
  div.text-area
  div.password
*/

div.text label,
div.text-area label, 
div.password label {
  line-height: 1.4;
}

@media (width > 360px) {
  form {
    width: 360px;
  }
}

@media (width >= 720px) {
  form {
    width: calc((100vw / 12) * 3);
  }
}