/*
    .message
*/

.message {
    border-bottom: none;
}

/*
    #blurred-layer
    The glass effect is from: https://css.glass
*/

#blurred-layer {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0px;
}

/*
    circles
*/

.circle-24 {
    border-radius: 100%;
    height: 24px;
    width: 24px;
}

.circle-48 {
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

/*
    vertical .flex-box-col connecting line
*/

.vertical-line {
    z-index: 1;
    width: 1.32px;
    background: var(--d3);
    position: absolute;
    content: "";
    bottom: 0px; 
    left: 16px;
    top: 0px;
}

/*
  #chat
*/

#room-chat-form nav {
    padding: 4px;
  }
  
  #room-chat-form #messages {
    display: flex;
    flex-direction: column;
    height: calc(var(--wh) / 3);
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px;
    gap: 8px;
  }
  
  #room-chat-form #messages::-webkit-scrollbar {
    display: none;
  }
  
  #room-chat-form #messages ul {
    border-radius: 8px;
    padding: 8px;
  }
  
  #room-chat-form #messages.one-to-one ul li:first-child,
  #room-chat-form #messages.group ul.outgoing li:first-child {
    display: none;
  }
  
  #room-chat-form #messages ul.outgoing {
    outline: 1.32px solid var(--d3);
  }
  
  #room-chat-form #messages ul.incoming {
    background: var(--d3);
    text-align: right;
  }