/*
    .widget
*/

.widget {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.widget > h1,
.widget > h2,
.widget > h3,
.widget > h4 {
    font-weight: 700 !important;
    line-height: 1.5 !important;
}

/*
    .message
*/

.message nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.message.info {
    background: var(--di);
}

.message.error {
    background: var(--dd);
}

.message.warning {
    background: var(--dw);
}

.message.success {
    background: var(--ds);
}

/*
    .log
*/

.log {
    z-index: 2;
}

.log i.add {
    color: var(--li);
}

.log i.change {
    color: var(--lw);
}

.log i.delete {
    color: var(--ld);
}