/*
    .widget & .notes
    > .notes is a direct child of .widget
*/

.notes,
.widget {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

.widget {
    padding: 8px 0px;
    gap: 12px;
}

.scroll-horizontally {
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    padding: 8px;
    gap: 8px;
}

.scroll-horizontally::-webkit-scrollbar {
    display: none;
}

.scroll-horizontally .note {
    flex-wrap: wrap;
    flex: 0 0 320px;
}

/*
    flex-box-*
    > direct children of .notes
*/

.note,
.flex-box-row {
    z-index: 2;
    display: flex;
    outline: 1.32px solid var(--d3);
    background: var(--d2);
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
    flex: 1;
}

.note > *,
.flex-box-row > * {
    flex: 1;
}

.note > nav,
.note > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

/*
    .flex-col-* & .flex row-*
    > direct children of flex-box-*
*/

.note,
.flex-col-start,
.flex-col-center,
.flex-col-end {
    flex-direction: column;
}

.flex-box-row,
.flex-row-start,
.flex-row-center,
.flex-row-end {
    flex-direction: row;
}

.flex-col-start,
.flex-row-start,
.flex-col-center,
.flex-row-center,
.flex-col-end,
.flex-row-end {
    display: flex;
    align-items: center;
    gap: 8px;
}

/*
    flex justify
*/

.flex-col-start,
.flex-row-start,
.flex-justify-start {
    justify-content: flex-start;
}

.flex-col-center,
.flex-row-center,
.flex-justify-center {
    justify-content: center;
}

.flex-col-end,
.flex-row-end,
.flex-justify-end {
    justify-content: flex-end;
}

/*
    flex-align
*/

.flex-align-start {
    align-content: flex-start;
}

.flex-align-center {
    align-content: center;
}

.flex-align-end {
    align-content: flex-end;
}

@media (width >= 720px) {

    #main .notes:not(.flex-rows) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #main .notes:not(.flex-rows) .note {
        max-width: calc(calc(100% - 8px) / 2);
        flex: calc(calc(100% - 8px) / 2);
    }

    #main .notes:not(.flex-rows) .note.full-row {
        max-width: 100%;
        flex: 100%;
    }

}