/*
    .widget & .flex-container
    > .flex-container is a direct child of .widget
*/

.widget,
.flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

.widget {
    padding: 8px 0px;
    gap: 12px;
}

/*
    flex-box-*
    > direct children of .flex-container
*/

.flex-box-col,
.flex-box-row {
    z-index: 2;
    display: flex;
    outline: 1.32px solid var(--d3);
    background: var(--d2);
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
    flex: 1;
}

.flex-box-col > *,
.flex-box-row > * {
    flex: 1;
}

/*
    .flex-col-* & .flex row-*
    > direct children of flex-box-*
*/

.flex-box-col,
.flex-col-start,
.flex-col-center,
.flex-col-end {
    flex-direction: column;
}

.flex-box-row,
.flex-row-start,
.flex-row-center,
.flex-row-end {
    flex-direction: row;
}

.flex-col-start,
.flex-row-start,
.flex-col-center,
.flex-row-center,
.flex-col-end,
.flex-row-end {
    display: flex;
    align-items: center;
    gap: 8px;
}

/*
    flex justify
*/

.flex-col-start,
.flex-row-start,
.flex-justify-start {
    justify-content: flex-start;
}

.flex-col-center,
.flex-row-center,
.flex-justify-center {
    justify-content: center;
}

.flex-col-end,
.flex-row-end,
.flex-justify-end {
    justify-content: flex-end;
}

/*
    flex-align
*/

.flex-align-start {
    align-content: flex-start;
}

.flex-align-center {
    align-content: center;
}

.flex-align-end {
    align-content: flex-end;
}

@media (width >= 720px) {

    #center .flex-container:not(.flex-rows) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #center .flex-container:not(.flex-rows) .flex-box-col {
        max-width: calc(calc(100% - 8px) / 2);
        flex: calc(calc(100% - 8px) / 2);
    }

    #center .flex-container:not(.flex-rows) .flex-box-col.full-row {
        max-width: 100%;
        flex: 100%;
    }

}