{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
</head>
<body onload="Handler.init();" onresize="Handler.init();" data-app="{{ request.resolver_match.app_name }}" data-url="{{ request.resolver_match.url_name }}">
    {% include "components/messages.html" %}
    {% block fixed %}{% endblock fixed %}
    <main class="lcr-grid">
        <div class="column aside-l" id="left">
            {% block left %}{% endblock left %}
        </div>
        <div class="column" id="center">
            {% block center %}{% endblock center %}
        </div>
        <div class="column aside-r" id="right">
            {% block right %}{% endblock right %}
        </div>
    </main>
    <button class="pin material-symbols-outlined" type="button" onclick="Aside.open('#left')" id="left-pin">widgets</button>
    <button class="pin material-symbols-outlined" type="button" onclick="Aside.open('#right')" id="right-pin">menu</button>
    <button class="pin material-symbols-outlined" type="button" onclick="Aside.clear()" id="aside-button">close</button>
</body>
</html>