{% include "signals/forms/signal.html" %}
{% include "signals/forms/problem.html" %}
{% include "signals/forms/opportunity.html" %}
{% include "signals/forms/question.html" %}
{% include "signals/forms/hypothesis.html" %}
{% include "signals/forms/observation.html" %}
{% include "signals/forms/test.html" %}
{% include "signals/forms/comment.html" %}
{% include "signals/forms/insight.html" %}
{% include "signals/forms/metric.html" %}
{% include "signals/forms/criteria.html" %}
{% include "signals/forms/decision.html" %}