{% load user_filters %}
{% load filters %}

<div class="card signal">
    <h4 class="end">
        <small>{{ signal.created|ago_shorten }}</small>
        <img class="circle-24" src="{{ signal.user|profile_picture_url }}">
    </h4>
    <h4 class="text-capitalize">
        <i class="material-symbols-outlined">{{ signal.icon }}</i>
        <span>{{ signal.get_classification_display }}</span>
    </h4>
    <p>{{ signal.body|linebreaks }}</p>
    <div class="end">
        <a class="material-symbols-outlined" href="{{ signal.url }}">keyboard_return</a>
    </div>
</div>