<div class="card">
    <h4>{{ circle.name }}</h4>
    <nav class="end">
        {% if opened_circle and circle.id == opened_circle.id %}
        <a class="material-icons" href="{{ circle.browse }}">radio_button_checked</a>
        {% endif %}
        {% if opened_circle and circle.id != opened_circle.id %}
        <a class="material-icons" href="{{ circle.open }}" disabled>login</a>
        {% endif %}
        {% if not opened_circle %}
        <a class="material-icons" href="{{ circle.open }}">login</a>
        {% endif %}
    </nav>
</div>