{% if 'token' in request.session %}
<footer id="reset-form-footer">
    <form method="POST" action="{% url 'user:reset' %}" id="reset-form">
        {% with form=forms.reset password=1 %}
        {% include "components/form/base.html" %}
        {% endwith %}
    </form>
</footer>
{% else %}
<footer id="verify-form-footer">
    <form method="POST" enctype="multipart/form-data" action="{% url 'user:verify' %}" id="verify-form">
        {% with form=forms.verify password=1 %}
        {% include "components/form/base.html" %}
        {% endwith %}
    </form>
</footer>
{% endif %}