<section class="widget" id="home-about-widget">
    <h2>
        <i class="material-icons">info</i>
        <span>About</span>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col full-row">
            <p>{{ widgets.about.me.about|safe }}</p>
        </div>
        <div class="flex-box-col">
            <p>Built with Django (Py) in its core. HTML, CSS and Js for the UI.</p>
            <ul class="text-align-right">
                <li>
                    <i class="material-symbols-outlined">code</i>
                </li>
            </ul>
        </div>
    </section>
</section>