<section class="widget" id="home-about-widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">handshake</i>
        <span>About</span>
    </h3>
    <section class="cards">
        <div class="card" role="describe">
            <p><b>Scheme</b> is where you communicate, think and share with your team.</p>
            <ul class="end">
                <li class="material-symbols-outlined">terminal</li>
            </ul>
        </div>
        <div class="card" role="describe">
            <p>A free web project, no edge requirements or prior installations.</p>
            <ul class="end">
                <li class="material-symbols-outlined">web</li>
            </ul>
        </div>
        <div class="card" role="describe">
            <p>Signup, add your teammates, create a circle and start scheming!.</p>
            <ul class="end">
                <li class="material-symbols-outlined">join_inner</li>
            </ul>
        </div>
    </section>
</section>