<section class="widget">
    <h3>
        <i class="material-symbols-outlined">domino_mask</i>
        <span>anonymous</span>
    </h3>
    <section class="flex-container">
        <div class="flex-box-col accent-card">
            <p>Start <b>anonymously</b>, the session will be terminated after 8 hours.</p>
            <nav class="text-align-right">
                <a href="{% url 'user:create_guest' %}">
                    <i class="material-icons">login</i>
                </a>
            </nav>
        </div>
    </section>
</section>