<section class="widget" id="asides-widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">widgets</i>
        <span>widgets</span>
    </h3>
    <section class="cards">
        <div class="card" id="left-aside-card">
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#left')">{{ icons.left }}</i>
            </nav>
        </div>
        <div class="card" id="right-aside-card">
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#right')">{{ icons.right }}</i>
            </nav>
        </div>
    </section>
</section>