<section class="widget" id="home-header-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">volunteer_activism</i>
        <span>benefits</span>
    </h2>
    <section class="cards">
        <div class="card" role="describe">
            <!-- separate from your own social media accounts -->
        </div>
        <div class="card" role="describe">
            <!-- circles are separated from each other -->
        </div>
        <div class="card" role="describe">
            <!-- all in one place -->
        </div>
        <div class="card" role="describe">
            <!-- fatst as a guest -->
        </div>
        <div class="card" role="describe">
            <!-- anonymity -->
        </div>
    </section>
</section>