<section class="widget" id="home-benefits-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">volunteer_activism</i>
        <span>benefits</span>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col">
            <p>Express, discuss, chat, assign tasks and poll <b>in a single place</b>.</p>
        </div>
        <div class="flex-box-col">
            <p>Away from the social media chaos!, <b>connect without distractions</b>.</p>
        </div>
        <div class="flex-box-col">
            <p><b>Complete isolation</b> from other circles', during a circle session.</p>
        </div>
        <div class="flex-box-col">
            <p><b>No need to sign-up</b>, create or join a circle, or sign as a guest.</p>
        </div>
        <div class="flex-box-col">
            <p>Create secret circles, share and interact while being <b>anonymous</b>.</p>
        </div>
    </section>
</section>