<section class="widget" id="home-benefits-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">volunteer_activism</i>
        <span>benefits</span>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col" role="describe">
            <p>Away from the social media chaos!, connect without distractions.</p>
        </div>
        <div class="flex-box-col" role="describe">
            <p>Express, discuss, chat, assign tasks and poll in a single place.</p>
        </div>
        <div class="flex-box-col" role="describe">
            <p>During a circle's session, you are isolated from other circles!.</p>
        </div>
        <div class="flex-box-col" role="describe">
            <p>No need to register!. Create or join a circle, in a single step.</p>
        </div>
        <div class="flex-box-col" role="describe">
            <p>Create secret circles, share and interact while being anonymous.</p>
        </div>
    </section>
</section>