<section class="widget left-column-control">
    <h2>
        <i class="material-icons">widgets</i>
        <b>widgets</b>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col flex-row">
            <p>A user?, <b onclick="Fixed.open('#sign-up-form')">sign-up</b>,
            <b onclick="Fixed.open('#sign-in-form')">sign-in</b> or
            <b onclick="Fixed.open('#verify-form')">verify</b> if you forgot your password.</p>
            <nav class="text-align-right">
                <i class="material-symbols-outlined" onclick="Fixed.open('#left')">person</i>
            </nav>
        </div>
    </section>
</section>