<section class="widget left-column-control">
    <h2 class="text-capitalize">
        <i class="material-icons">widgets</i>
        <span>widgets</span>
    </h2>
    <section class="cards">
        <div class="card">
            <p>A user?, <b onclick="Aside.open('#sign-up-form')">sign-up</b>,
            <b onclick="Aside.open('#sign-in-form')">sign-in</b> or
            <b onclick="Aside.open('#verify-form')">verify</b> if you forgot your password.</p>
            <nav class="end">
                <i class="material-symbols-outlined" onclick="Aside.open('#left')">person</i>
            </nav>
        </div>
    </section>
</section>