<section class="widget" id="home-header-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">contact_support</i>
        <span>FAQs</span>
    </h2>
    <section class="cards rows">
        <!-- anonymity -->
        <div class="card"></div>
        <div class="vertical-line"></div>
        <div class="card"></div>
    </section>
    <section class="cards rows">
        <!-- maximum number of circles -->
        <div class="card"></div>
        <div class="vertical-line"></div>
        <div class="card"></div>
    </section>
    <section class="cards rows">
        <!-- maximum number of circle members -->
        <div class="card"></div>
        <div class="vertical-line"></div>
        <div class="card"></div>
    </section>
</section>