<section class="widget" id="home-header-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">contact_support</i>
        <span>FAQs</span>
    </h2>
    <section class="flex-container flex-rows">
        <!-- anonymity -->
        <div class="flex-box-col"></div>
        <div class="vertical-line"></div>
        <div class="flex-box-col"></div>
    </section>
    <section class="flex-container flex-rows">
        <!-- maximum number of circles -->
        <div class="flex-box-col"></div>
        <div class="vertical-line"></div>
        <div class="flex-box-col"></div>
    </section>
    <section class="flex-container flex-rows">
        <!-- maximum number of circle members -->
        <div class="flex-box-col"></div>
        <div class="vertical-line"></div>
        <div class="flex-box-col"></div>
    </section>
</section>