<section class="widget" id="home-features-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">tips_and_updates</i>
        <span>features</span>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col" data-app="team">
            <p><b>Circle</b> connections are password protected, which secures more privacy,
            keeps you focused and helps to avoid unintended sharing!.</p>
        </div>
        <div class="flex-box-col" data-app="blog">
            <p>Use <b>signals</b> to organize and classify your thoughts as it provides
            a variety of properties to your text for better communication.</p>
        </div>
        <div class="flex-box-col" data-app="ping">
            <p>A circle's main <b>group</b> conversation, <b>one to one</b> conversations between
            members and a separate conversation for each <span>posted signal</span>.</p>
        </div>
        <div class="flex-box-col" data-app="ping">
            <P>Create <b>polls</b>, set the voting duration, interact and receive members
            votes and interactions live in the actual time of happening.</P>
        </div>
        <div class="flex-box-col">
            <p>As a circle founder, describe and assign <b>tasks</b> for members.
            Discuss and track using signals and download the process <span>PDF report</span>.</p>
        </div>
    </section>
</section>