<section class="widget" id="home-header-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">tips_and_updates</i>
        <span>features</span>
    </h2>
    <section class="cards">
        <div class="card" role="describe">
            <!-- circle sessions -->
        </div>
        <div class="card" role="describe">
            <!-- signal types and properties -->
        </div>
        <div class="card" role="describe">
            <!-- separate chat rooms -->
        </div>
        <div class="card" role="describe">
            <!-- polls -->
        </div>
        <div class="card" role="describe">
            <!-- tasks -->
        </div>
    </section>
</section>