<section class="widget" id="scheme-guide-section">
    <div class="card" role="describe">
        <h3 class="title">
            <i class="material-symbols-outlined">commit</i>
            <span>how it works</span>
        </h3>
        <p>Everything in Scheme is a <b>circle related object</b>. To create a circle,
        you have to have an account. Kindly, <b>read the cards below!.</b></p>
    </div>
    <section class="cards-w">
        <div class="card" role="describe">
            <h3 class="material-symbols-outlined">looks_one</h3>
            <p>With a user account you create multiple circles,
            access all of the applications and recover,
            in case the password was forgotten.</p>
        </div>
        <div class="card" role="describe" id="guest-user-div">
            <h3 class="material-symbols-outlined">looks_two</h3>
            <p>With a guest account you create (1) circle, access the "Spaces"
            application only <span>and your session</span>
            lasts for (4) hours then ends.</p>
        </div>
        <div class="card" role="describe">
            <h3 class="material-symbols-outlined">looks_3</h3>
            <p>You could only communicate with a circle at a time,
            and to navigate between circles, you have to use the
            close and open methods.</p>
        </div>
        <div class="card" role="describe">
            <h3 class="material-symbols-outlined">looks_4</h3>
            <p>Its suggested to provide the circle's description paragraph
            in order to be as specific as possible about
            it's topic and purpose.</p>
        </div>
    </section>
</section>