<section class="widget" id="home-guide-widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">description</i>
        <span>how it works</span>
    </h3>
    <section class="cards">
        <div class="card row">
            <p>A <b>circle</b> is where you privately express your thoughts,
            manage polls & tasks; and participate <span>in conversations</span> with your friends.</p>
        </div>
        <div class="card" role="describe">
            <p>Start by creating an <b>account</b> or by creating a <b>circle</b> as a guest.</p>
        </div>
        <div class="card" role="describe">
            <p>As a user, you could add your <b>friends</b> & create <b>multiple</b> circles.</p>
        </div>
        <div class="card" role="describe" id="guest-user-div">
            <p>As a guest, you could create <b>one</b> circle and <b>invite</b> your members.</p>
        </div>
    </section>
</section>