<section class="widget" id="home-guide-widget">
    <h3 class="text-capitalize">
        <i class="material-symbols-outlined">description</i>
        <span>how it works</span>
    </h3>
    <section class="cards">
        <div class="card" role="describe">
            <p>In Scheme everything belongs to a circle!. To create a circle you
            must have an account (guest/user) and each has its properties.</p>
            <div class="end">
                <i class="material-symbols-outlined">looks_one</i>
            </div>
        </div>
        <div class="card" role="describe">
            <p>With a user account you create multiple circles,
            access all of the applications and recover,
            in case the password was forgotten.</p>
            <div class="end">
                <i class="material-symbols-outlined">looks_two</i>
            </div>
        </div>
        <div class="card" role="describe" id="guest-user-div">
            <p>With a guest account you create (1) circle, access the "Spaces"
            application only <span>and your session</span>
            lasts for (4) hours then ends.</p>
            <div class="end">
                <i class="material-symbols-outlined">looks_3</i>
            </div>
        </div>
        <div class="card" role="describe">
            <p>You could only communicate with a circle at a time,
            and to navigate between circles, you have to use the
            close and open methods.</p>
            <div class="end">
                <i class="material-symbols-outlined">looks_4</i>
            </div>
        </div>
        <div class="card" role="describe">
            <p>Its suggested to provide the circle's description paragraph
            in order to be as specific as possible about
            it's topic and purpose.</p>
            <div class="end">
                <i class="material-symbols-outlined">looks_5</i>
            </div>
        </div>
    </section>
</section>