<header class="card">
    <h1 class="title">
        <i class="material-symbols-outlined">terminal</i>
        <b>scheme</b>
    </h1>
    <p>A web project built with the aim of reflecting my journey <span>of studying <b>Django</b></span>
    the great web framework. Here <span>I tried</span> to implement the protocols and functionalities
    which <span>I learned</span> in the form of applications <span>that I believe</span> it would be
    <span>useful and inetersting</span>. <b>Applications</b> are listed below, each application is
    defined in its card, visit the application's page to read its features cards.</p>
    <nav class="end">
        <a class="material-symbols-outlined" href="{% url 'home:user' %}">person</a>
        <a class="material-symbols-outlined" href="{% url 'home:circles' %}">diversity_2</a>
        <a class="material-symbols-outlined" href="{% url 'home:signals' %}">bubble_chart</a>
        <a class="material-symbols-outlined" href="{% url 'home:spaces' %}">dashboard</a>
        <a class="material-symbols-outlined" href="{% url 'home:tasks' %}">task_alt</a>
    </nav>
</header>
<section class="cards-w">
    {% include "home/widgets/apps.html" %}
</section>