<section class="widget" id="home-header-widget">
    <section class="flex-container">
        <div class="flex-box-col full-row">
            <h1>
                <i class="material-symbols-outlined">diversity_2</i>
                <span>scheme</span>
            </h1>
            <p><b>Each circle is an independent space</b> created for related ideas to intertwine
            <span>and grow.</span> <span>Add your friends</span>, create circles,
            express, discuss and poll. <span>Sign-up or create a circle</span>
            and start now.</p>
        </div>
        <div class="flex-box-col accent-card">
            <p>Use Scheme <b>anonymously</b>. <span>Create a circle or sign-in</span> now, directly with a single click  as a guest.</p>
        </div>
        <div class="flex-box-col accent-card">
            <p>Express, discuss, <span>create polls</span> and chat; <span>In a single place</span> <b>within the circle independently</b>.</p>
        </div>
        <div class="flex-box-col accent-card">
            <p>For an extra layer of privacy, circles are <b>password protected</b> aside from your account's password.</p>
        </div>
        <div class="flex-box-col accent-card">
            <p>Use <b>QR codes</b> to sign-in to your account, to login directly to a circle and to reset your passwords.</p>
        </div>
        <div class="flex-box-col accent-card">
            <p>After logging to a circle, you are completely isolated
            from other circles' <b>notifications and alerts</b>.</p>
        </div>
    </section>
</section>