<section class="flex-container" id="home-header-widget">
    <h1 class="text-capitalize">
        <i class="material-symbols-outlined">diversity_2</i>
        <b>scheme</b>
    </h1>
    <p>Add your friends, create circles, express your thoughts, discuss, poll and manage tasks.
    It's more than saving your notes, it's about understanding it. Communicate with your circles
    separately, develope and progress. <b onclick="Fixed.open('#sign-up-form-footer')" class="info-dark-color">Signup</b>
    or <b onclick="Fixed.open('#circle-create-form-footer')" class="warning-light-color">create</b> <span>a circle to start now.</span></p>
</section>