<section class="widget" id="home-features-widget">
    <h2 class="text-capitalize">
        <i class="material-icons">shield</i>
        <span>privacy</span>
    </h2>
    <section class="flex-container">
        <div class="flex-box-col warning-card">
            <p>Your token is a form of credentials, so <span><b>DO NOT EVER</b></span> share your QR codes and update it after using.</p>
        </div>
        <div class="flex-box-col info-card">
            <p>After 4 minutes of inactivity your session will be terminated by a <b>programmatic sign-out</b>.</p>
        </div>
        <div class="flex-box-col info-card">
            <p><b>Connection states</b> (online/offline) are not displayed,
            unless you login to or logout from a circle.</p>
        </div>
    </section>
</section>