<section class="widget" id="home-user-widget">
    <h3>
        <i class="material-icons">person</i>
    </h3>
    <section class="notes">
        <div class="note accent-note">
            <p><b><mark>Sign-up</mark></b>, just pick a username and a password,
            no email address or phone number required.</p>
            <nav>
                <i class="material-icons" onclick="Fixed.open('#sign-up-form')">person_add</i>
            </nav>
        </div>
        <div class="note accent-note">
            <p><b><mark>Sign-in</mark></b>, continue from where you left off,
            explore more, connect to more and communicate.</p>
            <nav>
                <i class="material-symbols-outlined" onclick="Fixed.open('#sign-in-form')">login</i>
            </nav>
        </div>
    </section>
</section>