<section class="widget" id="home-header-widget">
    <h2>
        <i class="material-symbols-outlined">text_snippet</i>
        <b>notes.</b>
    </h2>
    <section class="notes">
        <div class="note full-width">
            <p>Create spaces for thoughts to intertwine and form ideas.
            Add your friends, <span>post, vote and discuss.</span>
            <mark>Welcome to Notes, the text based web application</mark>.</p>
        </div>
        <div class="note">
            <p><mark>Sign-up</mark>, to start just set
            a username <span>and a password</span>.</p>
            <nav>
                <button type="button" onclick="Fixed.open('#sign_up-form')">
                    <i class="material-icons">person_add</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p><mark>Sign-in</mark>, continue
            from where you left off and explore more.</p>
            <nav>
                <button type="button" onclick="Fixed.open('#sign_in-form')">
                    <i class="material-symbols-outlined">login</i>
                </button>
            </nav>
        </div>
    </section>
</section>