<section class="widget" id="home-stats-widget">
    <h2>
        <i class="material-icons">equalizer</i>
        <span>stats</span>
    </h2>
    <section class="flex-container">
        <ul class="flex-box-row">
            <h3>
                <i class="material-icons">groups</i>
                <span>users</span>
            </h3>
            <ul class="text-align-right">
                <li>{{ stats.users }}</li>
            </ul>
        </ul>
        <ul class="flex-box-row">
            <h3>
                <i class="material-icons">diversity_2</i>
                <span>circles</span>
            </h3>
            <ul class="text-align-right">
                <li>{{ stats.circles }}</li>
            </ul>
        </ul>
        <ul class="flex-box-row">
            <h3>
                <i class="material-icons">bubble_chart</i>
                <span>signals</span>
            </h3>
            <ul class="text-align-right">
                <li>{{ stats.interactions }}</li>
            </ul>
        </ul>
    </section>
</section>