<section class="widget" id="home-about-widget">
    <h2>
        <i class="material-icons">equalizer</i>
        <span>stats</span>
    </h2>
    <section class="flex-container">
        <ul class="flex-box-row">
            <h2>
                <i class="material-icons">groups</i>
                <span>users</span>
            </h2>
            <h2 class="text-align-right">
                <b>{{ stats.users }}</b>
            </h2>
        </ul>
        <ul class="flex-box-row">
            <h2>
                <i class="material-icons">diversity_2</i>
                <span>circles</span>
            </h2>
            <h2 class="text-align-right">
                <b>{{ stats.circles }}</b>
            </h2>
        </ul>
        <ul class="flex-box-row">
            <h2>
                <i class="material-icons">bubble_chart</i>
                <span>signals</span>
            </h2>
            <h2 class="text-align-right">
                <b>{{ stats.interactions }}</b>
            </h2>
        </ul>
    </section>
</section>