<section class="widget" id="theme-widget">
    <h3>
        <i class="material-icons" id="theme-icon"></i>
        <span>theme</span>
    </h3>
    <div class="flex-container">
        <div class="flex-box-col" role="function" id="theme-modes-card">
            <p>Dark theme, light theme, or follow your system <b>display</b> settings.</p>
            <ul class="text-align-right">
                <li class="material-icons" onclick="Theme.light()" data-mode="light">light_mode</li>
                <li class="material-icons" onclick="Theme.dark()" data-mode="dark">dark_mode</li>
                <li class="material-icons" onclick="Theme.default()" data-mode="default">contrast</li>
            </ul>
        </div>
    </div>
</section>