<section class="widget" id="theme-widget">
    <h2>
        <i class="material-icons" id="theme-icon"></i>
        <span>theme</span>
    </h2>
    <div class="notes">
        <div class="note">
            <p>Dark mode, light mode, or follow your system mode settings.</p>
            <ul class="text-align-right">
                <button type="button" onclick="Theme.light()" data-mode="light">
                    <li class="material-icons">light_mode</li>
                </button>
                <button type="button" onclick="Theme.dark()" data-mode="dark">
                    <li class="material-icons">dark_mode</li>
                </button>
                <button type="button" onclick="Theme.default()" data-mode="default">
                    <li class="material-icons">contrast</li>
                </button>
            </ul>
        </div>
    </div>
</section>