{% load filters %}
<section class="widget" id="home-user-widget">
    <h2>
        <i class="material-symbols-outlined">token</i>
        <span>token</span>
    </h2>
    <section class="notes">
        {% if space is None %}
        <div class="note">
            <p><mark>Login to your space</mark> directly,
            using <span>your space</span> key to sign-in and log-in
            <span>in a single step.</span></p>
            <nav>
                <button type="button" onclick="Fixed.open('#log_in-key-form')">
                    <i class="material-symbols-outlined">diversity_2</i>
                </button>
            </nav>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="note">
            <p><mark>Download</mark> your account key and <span>spaces' keys</span>,
            do not share it <span>and store it safe.</span></p>
            <nav>
                <button type="button" onclick="Template.copy(this)" data-clipboard="{{ request.user.token.key }}">
                    <i class="material-icons">content_copy</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p>It is recommened to renew your <span><mark>account's key</mark></span>
            regulary, last update <span>was <mark>{{ request.user.token.updated|ago }}</mark>.</span></p>
            <nav>
                <a href="{% url 'user:update_token' %}">
                    <i class="material-symbols-outlined">refresh</i>
                </a>
            </nav>
        </div>
        {% else %}
        <div class="note">
            <p><mark>Forgot password?</mark>, submit your account token,
            alongside the new password <span>to reset.</span></p>
            <nav>
                <button type="button" onclick="Fixed.open('#reset-form')">
                    <i class="material-icons">lock_reset</i>
                </button>
            </nav>
        </div>
        <div class="note">
            <p><mark>Sign-in</mark> to your account, using your key
            instead of using your username <span>and password.</span></p>
            <nav>
                <button type="button" onclick="Fixed.open('#sign_in-key-form')">
                    <i class="material-icons">login</i>
                </button>
            </nav>
        </div>
        {% endif %}
    </section>
</section>