<section class="widget" id="home-user-widget">
    <h3 class="text-capitalize">
        <i class="material-icons">person</i>
        <span>user</span>
    </h3>
    <section class="cards">
        {% include "user/cards/form/signup.html" %}
        {% include "user/cards/form/signin.html" %}
        {% if 'token' in request.session %}
        {% include "user/cards/form/reset.html" %}
        {% else %}
        {% include "user/cards/form/verify.html" %}
        {% endif %}
    </section>
</section>