<section class="widget" id="home-user-widget">
    <h2>
        <i class="material-icons">person</i>
        <b>user</b>
    </h2>
    <section class="flex-container">
        {% include "user/cards/form/signup.html" %}
        {% include "user/cards/form/signin.html" %}
        {% if 'token' in request.session %}
        {% include "user/cards/form/reset.html" %}
        {% else %}
        {% include "user/cards/form/verify.html" %}
        {% endif %}
        {% include "home/cards/theme.html" %}
    </section>
</section>