{% extends 'templates/lcr.html' %}
{% load user_filters %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% get_static_prefix %}signals/css/master.css">
{% endblock %}

{% block fixed %}
{% include "signals/asides/signals.html" %}
{% include "signals/forms/opportunity.html" %}
{% include "signals/forms/problem.html" %}
{% endblock %}

{% block left %}
{% include "circles/cards/function/opened/browse.html" %}
{% include "circles/cards/function/opened/close.html" %}
{% include "user/cards/navigate/settings.html" %}
{% endblock %}

{% block center %}
{% for signal in list %}
{% include "signals/cards/object/signal.html" %}
{% endfor %}
{% endblock %}

{% block right %}
{% include "signals/cards/describe/signal.html" %}
{% include "signals/cards/form/problem.html" %}
{% include "signals/cards/form/opportunity.html" %}
{% endblock %}