{% extends 'spaces/room.html' %}

{% block fixed %}
{% include "signals/forms/hypothesis.html" %}
{% endblock %}

{% block left %}
{% include "user/cards/navigate/settings.html" %}
{% include "circles/cards/function/opened.html" %}
{% include "signals/cards/navigate/app.html" %}
{% endblock %}

{% block center %}
<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">{{ signal.icon }}</i>
        <span>{{ signal.get_classification_display }}</span>
    </h3>
    <section class="cards-v">
        <div class="verticl-line"></div>
        {% with signal=signal.parent %}
        {% include "signals/cards/object/signal.html" %}
        {% endwith %}
        {% include "signals/cards/object/signal.html" %}
    </section>
</section>
<section class="widget">
    <h3 class="title">
        <i class="material-symbols-outlined">bubble_chart</i>
        <span>signal</span>
    </h3>
    <section class="cards-w">
        {% include "signals/cards/function/status.html" %}
        {% include "signals/cards/form/hypothesis.html" %}
        {% include "spaces/cards/describe/space.html" %}
    </section>
</section>
{% for signal in signal.get_children %}
{% include "signals/cards/object/signal.html" %}
{% endfor %}
{% endblock %}