{% extends 'templates/lcr.html' %}
{% load static %}

{% block fixed %}
{% include "signals/forms/hypothesis.html" %}
{% endblock %}

{% block left %}
{% include "circles/cards/function/opened.html" %}
{% include "user/cards/navigate/settings.html" %}
{% endblock %}

{% block center %}
{{ request.GET.serial }}
<section class="widget">
    {% include "signals/cards/object/signal.html" %}
    <section class="cards-w">
        {% include "components/cards/hidden.html" %}
        {% include "signals/cards/form/hypothesis.html" %}
    </section>
</section>
{% for signal in signal.get_children %}
{% include "signals/cards/object/signal.html" %}
{% endfor %}
{% endblock %}

{% block right %}
{% with serial=signal.serial %}
{% include "spaces/widgets/space.html" %}
{% endwith %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% get_static_prefix %}spaces/css/master.css">
<script src="{% get_static_prefix %}spaces/js/master.js" defer></script>
{% endblock %}