{% extends 'spaces/room.html' %}

{% block fixed %}
{% include "signals/forms/hypothesis.html" %}
{% endblock %}

{% block left %}
{% include "circles/cards/function/opened.html" %}
{% include "user/cards/navigate/settings.html" %}
{% endblock %}

{% block center %}
<section class="widget">
    {% include "signals/cards/object/signal.html" %}
    <section class="cards-w">
        {% include "signals/cards/form/hypothesis.html" %}
    </section>
</section>
{% for signal in signal.get_children %}
{% include "signals/cards/object/signal.html" %}
{% endfor %}
{% endblock %}